# Production Dataset

In [1]:
import pandas as pd
import numpy as np
import uuid
import random
from faker import Faker
import string
from datetime import datetime, timedelta

In [2]:
df = pd.read_csv("vehicles.csv")

In [3]:
def fill_na(column):
    actual = column.dropna().tolist()
    return column.apply(lambda x: x if pd.notna(x) else random.choice(actual))

def fill_na_vin(column):
    actual = column.dropna().tolist()
    vin_chars = string.ascii_uppercase.replace('I', '').replace('O', '').replace('Q', '') + string.digits

    def generate_random_vin():
        return ''.join(random.choices(vin_chars, k=17))
    
    return column.apply(lambda x: x if pd.notna(x) else generate_random_vin())

def generate_random_dates(n, start_date, end_date):
    start_u = start_date.value // 10**9
    end_u = end_date.value // 10**9
    return pd.to_datetime(np.random.randint(start_u, end_u, n), unit='s')

In [4]:
df = df[27:]
df = df.reset_index().drop(["county", "size", "index"], axis=1)

In [5]:
df['drive'] = fill_na(df['drive'])
df['cylinders'] = fill_na(df['cylinders'])
df['paint_color'] = fill_na(df['paint_color'])
df['model'] = fill_na(df['model'])
df['manufacturer'] = fill_na(df['manufacturer'])
df['condition'] = fill_na(df['condition'])
df['fuel'] = fill_na(df['fuel'])
df['type'] = fill_na(df['type'])
df['VIN'] = fill_na_vin(df['VIN'])

avg_price = df["price"].mean()
df["price"] = (df["price"] / avg_price) * 200

df['cylinders'] = df['cylinders'].str.extract('(\d+)').astype(float)
df['cylinders'].fillna(df['cylinders'].dropna().sample(n=1).values[0], inplace=True)
df['cylinders'] = df['cylinders'].astype(int)


df['paint_color'] = df['paint_color'].replace('custom', 'white')
df['transmission'] = df['transmission'].replace('other', 'automatic')

df = df.rename(columns={
    "VIN": "vin"
})

end_date = pd.to_datetime('now')
start_date = end_date - pd.DateOffset(years=1)
df['posting_date'] = generate_random_dates(len(df), start_date, end_date)

df

C:\Users\siddh\anaconda3\lib\site-packages\pandas\core\arrays\datetimes.py:2224: FutureWarning: The parsing of 'now' in pd.to_datetime without `utc=True` is deprecated. In a future version, this will match Timestamp('now') and Timestamp.now()
  result, tz_parsed = tslib.array_to_datetime(

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,vin,drive,type,paint_color,image_url,description,state,lat,long,posting_date
0,7316814884,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,89.331452,2014.0,gmc,sierra 1500 crew cab slt,good,8,...,3GTP1VEC4EG551563,4wd,pickup,white,https://images.craigslist.org/00R0R_lwWjXSEWNa...,Carvana is the safer way to buy a car During t...,al,32.590000,-85.480000,2023-07-28 16:49:09
1,7316814758,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,60.077330,2010.0,chevrolet,silverado 1500,good,8,...,1GCSCSE06AZ123805,rwd,pickup,blue,https://images.craigslist.org/00R0R_lwWjXSEWNa...,Carvana is the safer way to buy a car During t...,al,32.590000,-85.480000,2024-04-02 13:25:13
2,7316814989,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,105.288246,2020.0,chevrolet,silverado 1500 crew,good,8,...,3GCPWCED5LG130317,rwd,pickup,red,https://images.craigslist.org/01212_jjirIWa0y0...,Carvana is the safer way to buy a car During t...,al,32.590000,-85.480000,2024-03-23 01:04:24
3,7316743432,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,82.416841,2017.0,toyota,tundra double cab sr,good,8,...,5TFRM5F17HX120972,4wd,pickup,red,https://images.craigslist.org/00x0x_1y9kIOzGCF...,Carvana is the safer way to buy a car During t...,al,32.590000,-85.480000,2024-04-02 12:42:57
4,7316356412,https://auburn.craigslist.org/cto/d/auburn-uni...,auburn,https://auburn.craigslist.org,39.891985,2013.0,ford,f-150 xlt,excellent,6,...,506XWT6HAFWG1BAT0,rwd,truck,black,https://images.craigslist.org/00404_l4loxHvdQe...,2013 F-150 XLT V6 4 Door. Good condition. Leve...,al,32.592000,-85.518900,2023-07-20 04:22:18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426848,7301591192,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,62.736795,2019.0,nissan,maxima s sedan 4d,good,6,...,1N4AA6AV6KC367801,fwd,sedan,black,https://images.craigslist.org/00o0o_iiraFnHg8q...,Carvana is the safer way to buy a car During t...,wy,33.786500,-84.445400,2024-04-22 13:43:38
426849,7301591187,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,81.353055,2020.0,volvo,s60 t5 momentum sedan 4d,good,4,...,7JR102FKXLG042696,fwd,sedan,red,https://images.craigslist.org/00x0x_15sbgnxCIS...,Carvana is the safer way to buy a car During t...,wy,33.786500,-84.445400,2024-03-30 19:26:23
426850,7301591147,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,93.054704,2020.0,cadillac,xt4 sport suv 4d,good,4,...,1GYFZFR46LF088296,fwd,hatchback,white,https://images.craigslist.org/00L0L_farM7bxnxR...,Carvana is the safer way to buy a car During t...,wy,33.779214,-84.411811,2024-06-09 23:37:38
426851,7301591140,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,77.097910,2018.0,lexus,es 350 sedan 4d,good,6,...,58ABK1GG4JU103853,fwd,sedan,silver,https://images.craigslist.org/00z0z_bKnIVGLkDT...,Carvana is the safer way to buy a car During t...,wy,33.786500,-84.445400,2024-01-19 16:15:09
426852,7301591129,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,81.353055,2019.0,bmw,4 series 430i gran coupe,good,6,...,WBA4J1C58KBM14708,rwd,coupe,red,https://images.craigslist.org/00Y0Y_lEUocjyRxa...,Carvana is the safer way to buy a car During t...,wy,33.779214,-84.411811,2024-01-29 18:28:51

In [6]:
df.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'vin', 'drive', 'type', 'paint_color', 'image_url',
       'description', 'state', 'lat', 'long', 'posting_date'],
      dtype='object')

In [7]:
unique_cars = df[['manufacturer', 'model']].drop_duplicates().reset_index(drop=True)
unique_cars['car_id'] = range(1, len(unique_cars) + 1)

cars_table = df[["id", "manufacturer", "model", "drive", "cylinders", "transmission", "paint_color"]]

cars_table = cars_table.merge(unique_cars, on=['manufacturer', 'model'], how='left').drop_duplicates().reset_index(drop=True)

cars_table

,id,manufacturer,model,drive,cylinders,transmission,paint_color,car_id
0,7316814884,gmc,sierra 1500 crew cab slt,4wd,8,automatic,white,1
1,7316814758,chevrolet,silverado 1500,rwd,8,automatic,blue,2
2,7316814989,chevrolet,silverado 1500 crew,rwd,8,automatic,red,3
3,7316743432,toyota,tundra double cab sr,4wd,8,automatic,red,4
4,7316356412,ford,f-150 xlt,rwd,6,automatic,black,5
...,...,...,...,...,...,...,...,...
426848,7301591192,nissan,maxima s sedan 4d,fwd,6,automatic,black,1100
426849,7301591187,volvo,s60 t5 momentum sedan 4d,fwd,4,automatic,red,56
426850,7301591147,cadillac,xt4 sport suv 4d,fwd,4,automatic,white,28
426851,7301591140,lexus,es 350 sedan 4d,fwd,6,automatic,silver,1292
426852,7301591129,bmw,4 series 430i gran coupe,rwd,6,automatic,red,4892

In [8]:
colors = df["paint_color"].dropna().unique()
colors_table = pd.DataFrame(colors, columns=["color"])

hex_dict = {
    'black': '#000000',
    'blue': '#0000FF',
    'brown': '#A52A2A',
    'green': '#008000',
    'grey': '#808080',
    'orange': '#FFA500',
    'purple': '#800080',
    'red': '#FF0000',
    'silver': '#C0C0C0',
    'white': '#FFFFFF',
    'yellow': '#FFFF00',
}

colors_table['hex'] = colors_table['color'].map(hex_dict)

colors_table

     color      hex
0    white  #FFFFFF
1     blue  #0000FF
2      red  #FF0000
3    black  #000000
4   silver  #C0C0C0
5     grey  #808080
6    brown  #A52A2A
7    green  #008000
8   yellow  #FFFF00
9   orange  #FFA500
10  purple  #800080

In [9]:
fake = Faker()

num_users = 500

user_data = {
    'user_id': random.sample(range(10000000, 100000000), num_users), # 8 digit user_id
    'first_name': [fake.first_name() for _ in range(num_users)],
    'last_name': [fake.last_name() for _ in range(num_users)],
    'email': [fake.email() for _ in range(num_users)],
    'date_of_birth': [fake.date_of_birth(minimum_age=18, maximum_age=90) for _ in range(num_users)],
    'password': [fake.password(length=10, special_chars=True, digits=True, upper_case=True, lower_case=True) for _ in range(num_users)]
}

users_table = pd.DataFrame(user_data)
users_table

,user_id,first_name,last_name,email,date_of_birth,password
0,27212364,Brittany,Murphy,maria76@example.net,1984-09-15,%QSqQ5nq(7
1,32317483,Brandon,Ayala,vpace@example.com,1969-11-14,O!9O4qF8(I
2,34518768,Alexandra,Parker,jacqueline86@example.net,1951-09-05,r238YEmZ*W
3,73347600,Jessica,Sandoval,mgardner@example.org,1961-01-05,w#z4NzZm3+
4,19650163,Latoya,Neal,cooperstephanie@example.net,1941-12-07,VolIKelE^3
...,...,...,...,...,...,...
495,31874198,William,Thomas,robertsonjeremiah@example.org,1956-06-09,%gP3NJWz%L
496,75466571,Adam,Gibbs,brandonjones@example.com,1945-04-18,k3iPkqpe_5
497,69531356,Kristy,Gray,victoranderson@example.org,1992-07-28,C0KzPRlV+(
498,56385499,Karen,Williams,jonathan29@example.net,1949-07-15,aIj87hwiE*
499,21437909,Jennifer,Fernandez,jsalas@example.org,2002-03-13,$fgVYtk660

In [10]:
num_rentals = 1000

rental_data = {
    'rental_id': random.sample(range(1000000000, 10000000000), num_rentals), # 10 digit rental_id
    'car_id': [random.choice(cars_table['car_id']) for _ in range(num_rentals)],
    'user_id': [random.choice(users_table['user_id']) for _ in range(num_rentals)],
    'rent_date': [fake.date_this_year(before_today=True, after_today=False) for _ in range(num_rentals)],
}

num_active = num_rentals // 2
num_inactive = num_rentals - num_active

# active rentals
active_rent_dates = [fake.date_this_year(before_today=True, after_today=False) for _ in range(num_active)]
active_return_dates = [(pd.to_datetime(rent_date) + pd.to_timedelta(random.randint(1, 50), unit='d')).strftime('%Y-%m-%d')
                       for rent_date in active_rent_dates]

# inactive rentals
start_date = datetime.now() - timedelta(days=365 * 10)
inactive_rent_dates = [fake.date_between_dates(date_start=start_date, date_end=datetime.now() - timedelta(days=50))
                       for _ in range(num_inactive)]
inactive_return_dates = [(pd.to_datetime(rent_date) + pd.to_timedelta(random.randint(1, 50), unit='d')).strftime('%Y-%m-%d')
                         for rent_date in inactive_rent_dates]

rental_data['rent_date'] = active_rent_dates + inactive_rent_dates
rental_data['return_date'] = active_return_dates + inactive_return_dates
rental_data['status'] = ['active'] * num_active + ['inactive'] * num_inactive
rentals_table = pd.DataFrame(rental_data)
rentals_table = rentals_table.sample(frac=1).reset_index(drop=True)

rentals_table

      rental_id  car_id   user_id   rent_date return_date    status
0    1168937878   21707  88662574  2024-05-03  2024-05-04    active
1    1717525259    4218  45634953  2024-03-29  2024-04-07    active
2    2830163511     137  56303852  2024-02-05  2024-03-15    active
3    7304017928   11025  28278749  2017-04-09  2017-05-21  inactive
4    3585585996       2  32047348  2024-04-11  2024-05-29    active
..          ...     ...       ...         ...         ...       ...
995  2370153063    3312  46720321  2024-06-06  2024-07-22    active
996  6770061771     157  26245655  2024-01-15  2024-01-22    active
997  2019964361    2900  33218988  2022-01-17  2022-02-08  inactive
998  1698727538     227  88662574  2023-06-05  2023-07-13  inactive
999  9459249150     161  60990531  2024-06-19  2024-07-05    active

[1000 rows x 6 columns]

In [12]:
listings_table = df[["id", "url", "region", "image_url", "description", "condition", "vin", "lat", "long", "state", "price", "posting_date"]]
listings_table["car_id"] = cars_table['car_id']

listings_table = listings_table.rename(columns={
    "url": "listing_url",
    "lat": "lat_id",
    "long": "long_id",
    "state": "state_id"
})

listings_table

C:\Users\siddh\AppData\Local\Temp\ipykernel_40212\3592155776.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_table["car_id"] = cars_table['car_id']

,id,listing_url,region,image_url,description,condition,vin,lat_id,long_id,state_id,price,posting_date,car_id
0,7316814884,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://images.craigslist.org/00R0R_lwWjXSEWNa...,Carvana is the safer way to buy a car During t...,good,3GTP1VEC4EG551563,32.590000,-85.480000,al,89.331452,2023-07-28 16:49:09,1
1,7316814758,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://images.craigslist.org/00R0R_lwWjXSEWNa...,Carvana is the safer way to buy a car During t...,good,1GCSCSE06AZ123805,32.590000,-85.480000,al,60.077330,2024-04-02 13:25:13,2
2,7316814989,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://images.craigslist.org/01212_jjirIWa0y0...,Carvana is the safer way to buy a car During t...,good,3GCPWCED5LG130317,32.590000,-85.480000,al,105.288246,2024-03-23 01:04:24,3
3,7316743432,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://images.craigslist.org/00x0x_1y9kIOzGCF...,Carvana is the safer way to buy a car During t...,good,5TFRM5F17HX120972,32.590000,-85.480000,al,82.416841,2024-04-02 12:42:57,4
4,7316356412,https://auburn.craigslist.org/cto/d/auburn-uni...,auburn,https://images.craigslist.org/00404_l4loxHvdQe...,2013 F-150 XLT V6 4 Door. Good condition. Leve...,excellent,506XWT6HAFWG1BAT0,32.592000,-85.518900,al,39.891985,2023-07-20 04:22:18,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
426848,7301591192,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://images.craigslist.org/00o0o_iiraFnHg8q...,Carvana is the safer way to buy a car During t...,good,1N4AA6AV6KC367801,33.786500,-84.445400,wy,62.736795,2024-04-22 13:43:38,1100
426849,7301591187,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://images.craigslist.org/00x0x_15sbgnxCIS...,Carvana is the safer way to buy a car During t...,good,7JR102FKXLG042696,33.786500,-84.445400,wy,81.353055,2024-03-30 19:26:23,56
426850,7301591147,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://images.craigslist.org/00L0L_farM7bxnxR...,Carvana is the safer way to buy a car During t...,good,1GYFZFR46LF088296,33.779214,-84.411811,wy,93.054704,2024-06-09 23:37:38,28
426851,7301591140,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://images.craigslist.org/00z0z_bKnIVGLkDT...,Carvana is the safer way to buy a car During t...,good,58ABK1GG4JU103853,33.786500,-84.445400,wy,77.097910,2024-01-19 16:15:09,1292
426852,7301591129,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://images.craigslist.org/00Y0Y_lEUocjyRxa...,Carvana is the safer way to buy a car During t...,good,WBA4J1C58KBM14708,33.779214,-84.411811,wy,81.353055,2024-01-29 18:28:51,4892

In [13]:
import pandas as pd

state_data = {
    'state_id': ['al', 'ak', 'az', 'ar', 'ca', 'co', 'ct', 'dc', 'de', 'fl', 'ga',
                   'hi', 'id', 'il', 'in', 'ia', 'ks', 'ky', 'la', 'me', 'md', 'ma',
                   'mi', 'mn', 'ms', 'mo', 'mt', 'nc', 'ne', 'nv', 'nj', 'nm', 'ny',
                   'nh', 'nd', 'oh', 'ok', 'or', 'pa', 'ri', 'sc', 'sd', 'tn', 'tx',
                   'ut', 'vt', 'va', 'wa', 'wv', 'wi', 'wy'],
    'state_name': ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'District of Columbia', 
                   'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 
                   'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 
                   'Montana', 'North Carolina', 'Nebraska', 'Nevada', 'New Jersey', 'New Mexico', 'New York', 'New Hampshire', 
                   'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 
                   'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
    'time_zone': ['Central', 'Alaska', 'Mountain', 'Central', 'Pacific', 'Mountain', 'Eastern', 'Eastern', 'Eastern', 'Eastern', 
                  'Eastern', 'Hawaii-Aleutian', 'Mountain', 'Central', 'Eastern', 'Central', 'Central', 'Eastern', 'Central', 
                  'Eastern', 'Eastern', 'Eastern', 'Eastern', 'Central', 'Central', 'Central', 'Mountain', 'Eastern', 'Central', 
                  'Pacific', 'Eastern', 'Mountain', 'Eastern', 'Eastern', 'Central', 'Eastern', 'Central', 'Pacific', 'Eastern', 
                  'Eastern', 'Eastern', 'Central', 'Central', 'Central', 'Mountain', 'Eastern', 'Eastern', 'Pacific', 'Eastern', 
                  'Central', 'Mountain']
}

states_table = pd.DataFrame(state_data)
states_table

   state_id            state_name        time_zone
0        al               Alabama          Central
1        ak                Alaska           Alaska
2        az               Arizona         Mountain
3        ar              Arkansas          Central
4        ca            California          Pacific
5        co              Colorado         Mountain
6        ct           Connecticut          Eastern
7        dc  District of Columbia          Eastern
8        de              Delaware          Eastern
9        fl               Florida          Eastern
10       ga               Georgia          Eastern
11       hi                Hawaii  Hawaii-Aleutian
12       id                 Idaho         Mountain
13       il              Illinois          Central
14       in               Indiana          Eastern
15       ia                  Iowa          Central
16       ks                Kansas          Central
17       ky              Kentucky          Eastern
18       la             Louisiana          Central
19       me                 Maine          Eastern
20       md              Maryland          Eastern
21       ma         Massachusetts          Eastern
22       mi              Michigan          Eastern
23       mn             Minnesota          Central
24       ms           Mississippi          Central
25       mo              Missouri          Central
26       mt               Montana         Mountain
27       nc        North Carolina          Eastern
28       ne              Nebraska          Central
29       nv                Nevada          Pacific
30       nj            New Jersey          Eastern
31       nm            New Mexico         Mountain
32       ny              New York          Eastern
33       nh         New Hampshire          Eastern
34       nd          North Dakota          Central
35       oh                  Ohio          Eastern
36       ok              Oklahoma          Central
37       or                Oregon          Pacific
38       pa          Pennsylvania          Eastern
39       ri          Rhode Island          Eastern
40       sc        South Carolina          Eastern
41       sd          South Dakota          Central
42       tn             Tennessee          Central
43       tx                 Texas          Central
44       ut                  Utah         Mountain
45       vt               Vermont          Eastern
46       va              Virginia          Eastern
47       wa            Washington          Pacific
48       wv         West Virginia          Eastern
49       wi             Wisconsin          Central
50       wy               Wyoming         Mountain

In [14]:
num_favorites = 750
favorite_data = {
    'id': [random.choice(cars_table['id']) for _ in range(num_favorites)],
    'user_id': [random.choice(users_table['user_id']) for _ in range(num_favorites)]
}

favorites_table = pd.DataFrame(favorite_data)
favorites_table['car_id'] = favorites_table['id'].map(cars_table.set_index('id')['car_id'].to_dict())

favorites_table

             id   user_id  car_id
0    7310314165  68558566     566
1    7315137757  80476560     239
2    7316138479  30931024    2846
3    7302194328  14129170       2
4    7315167224  39118733    1304
..          ...       ...     ...
745  7309843508  31837777     656
746  7315676999  52395548     192
747  7314837762  40218374      33
748  7315150201  34887668     295
749  7302312628  58129910    5697

[750 rows x 3 columns]

In [15]:
# # save da files
# cars_table.to_csv('cars_table.csv', index=False)
# colors_table.to_csv('colors_table.csv', index=False)
# users_table.to_csv('users_table.csv', index=False)
# rentals_table.to_csv('rentals_table.csv', index=False)
# listings_table.to_csv('listings_table.csv', index=False)
# favorites_table.to_csv('favorites_table.csv', index=False)
# states_table.to_csv('states_table.csv', index=False)

# Sample Dataset

In [16]:
sample_df = df.sample(n=50).reset_index(drop=True)
sample_df

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,vin,drive,type,paint_color,image_url,description,state,lat,long,posting_date
0,7316737397,https://salina.craigslist.org/ctd/d/salina-201...,salina,https://salina.craigslist.org,77.097910,2017.0,bmw,4 series 440i xdrive gran,good,6,...,WBA4E5C56HG189275,fwd,coupe,grey,https://images.craigslist.org/00606_eTQPhZGTkM...,Carvana is the safer way to buy a car During t...,ks,38.810000,-97.610000,2024-05-01 20:52:08
1,7315303863,https://nashville.craigslist.org/ctd/d/murfree...,nashville,https://nashville.craigslist.org,239.218938,2020.0,mercedes-benz,s-class,excellent,4,...,WDDUG8DB7LA521485,rwd,sedan,black,https://images.craigslist.org/00n0n_ktxXjzsmY5...,2020 Mercedes-Benz S560 PREMIUM RWD W/NAV ...,tn,35.840175,-86.387603,2024-06-05 05:16:46
2,7306160055,https://knoxville.craigslist.org/ctd/d/knoxvil...,knoxville,https://knoxville.craigslist.org,171.774888,2019.0,audi,q8 premium sport utility 4d,good,6,...,WA1AVAF10KD039141,rwd,other,blue,https://images.craigslist.org/00e0e_c50g4fIkpN...,Carvana is the safer way to buy a car During t...,tn,35.970000,-83.940000,2023-06-23 15:57:20
3,7310276447,https://bemidji.craigslist.org/ctd/d/perham-20...,bemidji,https://bemidji.craigslist.org,67.151508,2017.0,ford,f-150,like new,8,...,1FTFX1EF7HKC12788,4wd,truck,white,https://images.craigslist.org/00t0t_5Vkb0qv8r8...,"2017 Ford F-150 XLT -- $25,250 ☎ Call: (...",mn,46.590185,-95.574690,2023-12-08 09:29:49
4,7303685479,https://eauclaire.craigslist.org/ctd/d/wiscons...,eau claire,https://eauclaire.craigslist.org,34.493270,2015.0,chevrolet,equinox,excellent,4,...,T435XZZHZ62NGMX3L,4wd,SUV,white,https://images.craigslist.org/00H0H_2c6SA6BmDW...,2015 Chevrolet Equinox LS AWD 2.4 4 Cylinder ...,wi,44.410164,-89.882412,2024-05-06 17:32:51
5,7311927824,https://olympic.craigslist.org/ctd/d/puyallup-...,olympic peninsula,https://olympic.craigslist.org,178.181541,2020.0,ford,expedition max,good,6,...,1FMJK1JT2LEA38166,4wd,SUV,black,https://images.craigslist.org/00T0T_1nXrsOqH1Q...,Joydrive: 253-201-0804 https://joydrive.com/...,wa,47.199100,-122.315100,2023-12-29 15:02:07
6,7310325874,https://porthuron.craigslist.org/ctd/d/point-e...,port huron,https://porthuron.craigslist.org,105.288246,2019.0,acura,mdx sh-awd w/technology,good,6,...,5J8YD4H50KL008682,4wd,other,white,https://images.craigslist.org/00h0h_dGAvgLShy8...,Carvana is the safer way to buy a car During t...,mi,43.017170,-82.450990,2024-04-23 05:58:14
7,7316146250,https://washingtondc.craigslist.org/nva/ctd/d/...,"washington, DC",https://washingtondc.craigslist.org,97.309849,2020.0,toyota,sienna xle minivan 4d,good,6,...,5TDYZ3DC8LS062357,fwd,van,silver,https://images.craigslist.org/00a0a_hbBcOXHYbg...,Carvana is the safer way to buy a car During t...,dc,38.890000,-77.030000,2023-06-29 12:18:14
8,7314542698,https://cnj.craigslist.org/ctd/d/trenton-2017-...,central NJ,https://cnj.craigslist.org,50.503253,2017.0,volkswagen,e-golf sel premium,good,6,...,WVWPR7AU4HW950160,rwd,sedan,blue,https://images.craigslist.org/00H0H_3V3uEl06cB...,Carvana is the safer way to buy a car During t...,nj,40.220000,-74.760000,2024-04-03 12:34:10
9,7308204040,https://bham.craigslist.org/ctd/d/clanton-2019...,birmingham,https://bham.craigslist.org,121.088132,2019.0,toyota,tacoma,excellent,6,...,5TFCZ5AN0KX185798,4wd,hatchback,black,https://images.craigslist.org/00606_2RL4eJFKt2...,phone: ☎ (205) 862-8003 text: Text ...,al,32.922900,-86.545000,2023-09-15 22:53:48
10,7309006024,https://rockford.craigslist.org/ctd/d/beloit-f...,rockford,https://rockford.craigslist.org,33.243321,2013.0,ford,f-150,good,6,...,9U2JT5WW11C6GVPHE,4wd,coupe,black,https://images.craigslist.org/00v0v_79vYOEc2fm...,------------ Black beauty; -- V6 turbo -- Le...,il,42.562000,-89.086000,2024-06-02 00:41:19
11,7315250912,https://charlotte.craigslist.org/ctd/d/matthew...,charlotte,https://charlotte.craigslist.org,31.905610,2012.0,dodge,challenger sxt coupe,excellent,6,...,5U9RG24U79LZY2K4X,rwd,coupe,black,https://images.craigslist.org/00303_kK4BZ6pCOB...,"2012 Dodge Challenger SXT Coupe, has 69864mi a...",nc,35.080492,-80.675883,2024-04-09 12:25:17
12,7316874728,https://dallas.craigslist.org/dal/cto/d/north-...,dallas / fort worth,https://dallas.craigslist.org,6.648664,2011.0,nissan,altima,good,8,...,FZVZCYCLDSST52VEG,fwd,sedan,black,https://images.craigslist.org/00505_97XOE3Gn1R...,"Hello, selling my 2011 Nissan Altima Runs and...",tx,32.840000,-97.225000,2024-03-15 15:52:18
13,7316172343,https://providence.craigslist.org/ctd/d/covent...,rhode island,https://providence.craigslist.org,140.685734,2012.0,mercedes-benz,hino 268a,excellent,6,...,5PVNE8JT2C4S54269,rwd,truck,white,https://images.craigslist.org/00r0r_iFXpNUrfaw...,"*2012 Hino 268a *Palfinger HAD 185- 36""-54"" Ho...",ri,41.662030,-71.571768,2024-03-13 13:15:44
14,7307808269,https://annapolis.craigslist.org/ctd/d/temple-...,annapolis,https://annapolis.craigslist.org,0.000000,2017.0,jeep,cherokee,excellent,6,...,1C4PJMDS8HW619842,4wd,SUV,black,https://images.craigslist.org/00V0V_8TAYM28V8a...,2017 Jeep Cherokee Limited 4x4 Limited 4dr SUV...,md,38.823449,-76.947378,2024-04-30 12:14:14
15,7314979287,https://medford.craigslist.org/cto/d/ashland-1...,medford-ashland,https://medford.craigslist.org,47.870382,1972.0,chevrolet,c-10,excellent,6,...,ACPX2KR22ZUSKMYLN,4wd,SUV,silver,https://images.craigslist.org/00s0s_4jBuWdML03...,one owner c-10 short bed stepside. 350 ramjet ...,or,42.188500,-122.693000,2023-08-27 15:09:42
16,7316842888,https://fortwayne.craigslist.org/ctd/d/warsaw-...,fort wayne,https://fortwayne.craigslist.org,12.183012,2012.0,chevrolet,malibu,good,4,...,1G1ZC5EU1CF388003,fwd,sedan,silver,https://images.craigslist.org/00h0h_lLK5JlSFsO...,"2012 Chevrolet Malibu 1LT - $4,581 Year: 2012...",in,41.237540,-85.825740,2024-03-26 19:18:31
17,7314527730,https://houston.craigslist.org/ctd/d/richmond-...,houston,https://houston.craigslist.org,18.602962,2011.0,bmw,328i,good,6,...,WBAPH7G58BNM57188,4wd,sedan,black,https://images.craigslist.org/00606_7hXhEvqKna...,"ANOTHER GERMAN MACHINE, THIS 2011 BMW 328I IS ...",tx,29.551100,-95.732900,2023-07-05 15:24:11
18,7315246055,https://boston.craigslist.org/sob/ctd/d/chevro...,boston,https://boston.craigslist.org,10.624565,2008.0,chevrolet,equinox lt awd,excellent,6,...,V387L4YMGTB2ZBZ38,fwd,sedan,silver,https://images.craigslist.org/00y0y_9cuZFk2Haa...,"New Car Dealer Trade In, Automatic, 6 cyl, LT ...",ma,41.983481,-70.699794,2024-02-25 22:11:59
19,7313415077,https://mcallen.craigslist.org/cto/d/hargill-c...,mcallen / edinburg,https://mcallen.craigslist.org,18.616260,2013.0,chevrolet,malibu lt,good,4,...,RVDY7T2FF33WZ6HF6,rwd,other,white,https://images.craigslist.org/00p0p_fdTv6HabU0...,Clean title vehicle is paid off price is negot...,tx,26.466100,-98.069500,2024-04-30 22:19:10
20,7316516953,https://seattle.craigslist.org/see/cto/d/seatt...,seattle-tacoma,https://seattle.craigslist.org,13.284031,2008.0,audi,a4,good,4,...,WADUF78EX8A045538,4wd,sedan,silver,https://images.craigslist.org/00m0m_idpJXMFoG2...,"Good condition A4 2.0T with S-line package, au...",wa,47.668520,-122.333638,2023-09-08 05:25:46
21,7304764850,https://anchorage.craigslist.org/ctd/d/anchora...,anchorage / mat-su,https://anchorage.craigslist.org,29.240825,2010.0,subaru,outback,excellent,4,...,4S4BRCHC2A3361269,rwd,SUV,white,https://images.craigslist.org/00X0X_28ybqoechp...,2010 Subaru Outback 2.5i Premium AWD 4dr Wagon...,ak,61.161670,-149.863120,2023-10-24 04:49:01
22,7314304686,https://daytona.craigslist.org/ctd/d/orlando-2...,daytona beach,https://daytona.craigslist.org,37.205925,2008.0,jeep,wrangler,excellent,5,...,1J4GA59198L640880,4wd,SUV,silver,https://images.craigslist.org/00A0A_8s0nQJe9Td...,Drive it home today. Call (Or Text) us now !!C...,fl,28.551277,-81.438392,2024-01-26 20:12:31
23,7316497311,https://denver.craigslist.org/ctd/d/englewood-...,denver,https://denver.craigslist.org,38.538317,2007.0,audi,s4,like new,6,...,WAUGL78E17A112810,rwd,sedan,red,https://images.craigslist.org/00E0E_2dtNvMvJuY...,2007 Audi S4 Sport Sedan Offered by: Color...,co,39.595086,-104.845088,2024-05-06 23:50:30
24,7306044408,https://fayar.craigslist.org/ctd/d/fayettevill...,fayetteville,https://fayar.craigslist.org,25.264924,2009.0,gmc,yukon,excellent,8,...,1GKFC33J49R296516,4wd,sedan,brown,https://images.craigslist.org/01616_aKyl3GuUyl...,"Pure-QUALITY & Luxury, Stylish, Roomy, Powerfu...",ar,36.058208,-94.163350,2024-03-13 09:26:29
25,7315858337,https://muskegon.craigslist.org/ctd/d/muskegon...,muskegon,https://muskegon.craigslist.org,69.119513,2014.0,gmc,sierra 1500 regular cab,good,6,...,1GTN1TEH5EZ273019,rwd,pickup,brown,https://images.craigslist.org/00R0R_lwWjXSEWNa...,Carvana is the safer way to buy a car During t...,mi,43.220000,-86.250000,2024-02-06 11:33:30
26,7316521595,https://phoenix.craigslist.org/evl/ctd/d/glend...,phoenix,https://phoenix.craigslist.org,100.761836,2015.0,ford,f-250,fair,4,...,1FT7W2B69FEB39601,4wd,pickup,silver,https://images.craigslist.org/00i0i_7NpU7SN5RQ...,2015 Ford F250 Super Duty Crew Cab XLT Pickup ...,az,33.534798,-112.180236,2024-05-25 20:58:57
27,7311254022,https://modesto.craigslist.org/ctd/d/atlanta-2...,modesto,https://modesto.craigslist.org,94.650384,2014.0,ford,f150 supercrew cab lariat,good,6,...,1FTFW1CT8EKE23666,4wd,pickup,white,https://images.craigslist.org/00N0N_1xMPvfxRAI...,Carvana is the safer way to buy a car During t...,ca,33.779214,-84.411811,2024-01-11 06:06:26
28,7314631799,https://augusta.craigslist.org/ctd/d/augusta-2...,augusta,https://augusta.craigslist.org,98.373636,2015.0,chevrolet,tahoe lt sport utility,good,8,...,1GNSCBKC8FR712092,4wd,other,black,https://images.craigslist.org/00U0U_cvoZgipqRa...,Carvana is the safer way to buy a car During t...,ga,33.450000,-81.990000,2024-04-13 00:41:15
29,7314249325,https://newhaven.craigslist.org/ctd/d/waterbur...,new haven,https://newhaven.craigslist.org,26.581359,2013.0,ford,fusion,excellent,4,...,3FA6P0H78DR109843,fwd,sedan,red,https://images.craigslist.org/01111_8fvD3iaeSE...,2013 Ford_ Fusion_ SE Offered by:...,ct,41.512139,-73.021803,2023-09-13 07:46:06
30,7310762992,https://jacksonville.craigslist.org/cto/d/sanf...,jacksonville,https://jacksonville.craigslist.org,19.680046,2013.0,buick,verano,excellent,4,...,U4P5YPBXAM6ZB9LVY,4wd,sedan,red,https://images.craigslist.org/00w0w_fe2va22bPj...,2013 Buick Verano - MUST SEE- Drives GREAT! Pr...,fl,28.801300,-81.285000,2023-10-25 12:23:33
31,7307120933,https://pittsburgh.craigslist.org/ctd/d/pittsb...,pittsburgh,https://pittsburgh.craigslist.org,0.000000,2010.0,ford,fusion se,good,6,...,CN5G7PV1ULSJZVVAG,4wd,sedan,grey,https://images.craigslist.org/00a0a_hvfGzbQfB8...,Make your way in this 2010 Ford Fusion SE. V6...,pa,40.411594,-79.955964,2024-02-01 16:07:28
32,7314547467,https://longisland.craigslist.org/ctd/d/ronkon...,long island,https://longisland.craigslist.org,54.758398,2016.0,toyota,camry hybrid le sedan 4d,good,6,...,4T1BD1FK1GU195097,fwd,sedan,black,https://images.craigslist.org/01313_5Wd2JbbUwH...,Carvana is the safer way to buy a car During t...,ny,40.800000,-73.120000,2024-03-18 17:39:39
33,7313151519,https://providence.craigslist.org/cto/d/cranst...,rhode island,https://providence.craigslist.org,17.552473,2011.0,chevrolet,traverse,excellent,6,...,S6RSU5RNCPLUDDJ55,4wd,SUV,grey,https://images.craigslist.org/00d0d_cQxscfvZl2...,Car for sale. In good condition no problems no...,ri,41.776600,-71.438300,2024-03-02 15:45:35
34,7311107018,https://merced.craigslist.org/ctd/d/fresno-201...,merced,https://merced.craigslist.org,79.778651,2019.0,mercedes-benz,gla,excellent,8,...,1MLJK7HJF7S6YTLWS,fwd,SUV,blue,https://images.craigslist.org/00k0k_4FlKvlvBW1...,2019 *** Mercedes-Benz GLA GLA 250 SUV *** ...,ca,36.837679,-119.809638,2023-12-08 04:46:39
35,7312313864,https://chillicothe.craigslist.org/ctd/d/chill...,chillicothe,https://chillicothe.craigslist.org,82.416841,2019.0,mazda,mx-5 miata grand touring,good,6,...,JM1NDAD70K0306349,rwd,other,black,https://images.craigslist.org/00R0R_61FUmXhdBP...,Carvana is the safer way to buy a car During t...,oh,39.330000,-82.980000,2023-09-24 05:06:34
36,7310917301,https://albany.craigslist.org/cto/d/selkirk-20...,albany,https://albany.craigslist.org,27.924390,2008.0,ford,f-150,good,8,...,59UHLX010N580RZA8,4wd,truck,red,https://images.craigslist.org/00K0K_ftUCUZmGfV...,2008 Ford F-150 for sale. Recently inspected a...,ny,42.548600,-73.812900,2023-10-07 22:55:29
37,7314294370,https://boone.craigslist.org/ctd/d/peachland-2...,boone,https://boone.craigslist.org,130.047872,2018.0,chevrolet,silverado 2500 hd ltz,like new,8,...,1GC1KWEYXJF108821,4wd,truck,black,https://images.craigslist.org/00e0e_iD7FV8sntH...,VEHICLE INFO: 2018 Chevrolet Silverado 2500HD ...,nc,34.932310,-80.278244,2023-10-01 10:22:51
38,7305612349,https://wheeling.craigslist.org/ctd/d/wheeling...,northern panhandle,https://wheeling.craigslist.org,106.352033,2019.0,mini,Genesis G70 3.3T Advanced Sedan,good,6,...,KMTG34LE9KU021141,rwd,sedan,red,https://images.craigslist.org/00101_cwwFdOZECn...,Carvana is the safer way to buy a car During t...,oh,40.070000,-80.690000,2024-06-13 18:20:13
39,7305117163,https://southbend.craigslist.org/ctd/d/south-b...,south bend / michiana,https://southbend.craigslist.org,20.209280,2011.0,hyundai,santa fe,excellent,6,...,5XYZGDAGXBG020341,4wd,sedan,grey,https://images.craigslist.org/00u0u_6S59X863wx...,Rightway South Bend address: 50537 State Ro...,in,41.759395,-86.251452,2023-09-07 13:15:01
40,7301650586,https://muskegon.craigslist.org/ctd/d/muskegon...,muskegon,https://muskegon.craigslist.org,81.353055,2020.0,volvo,s60 t5 momentum sedan 4d,good,8,...,7JR102FKXLG042696,fwd,sedan,red,https://images.craigslist.org/00x0x_15sbgnxCIS...,Carvana is the safer way to buy a car During t...,mi,43.220000,-86.250000,2023-12-24 02:19:22
41,7316820400,https://roanoke.craigslist.org/ctd/d/2017-ford...,roanoke,https://roanoke.craigslist.org,0.000000,2017.0,ford,f-250 super duty,excellent,8,...,3WL6FW7R7LJJPSUUK,4wd,pickup,red,https://images.craigslist.org/01717_6MMGIO8bg3...,"2017 Ford F-250SD XLT 4x4 Tow Package, Bed Lin...",va,NaN,NaN,2024-01-18 11:36:37
42,7316332310,https://dallas.craigslist.org/dal/ctd/d/2004-l...,dallas / fort worth,https://dallas.craigslist.org,76.592612,2004.0,lexus,gx 470,good,8,...,2N05UYVWGPGYGX9DL,4wd,SUV,silver,https://images.craigslist.org/00C0C_ctHrI5Cxsd...,Description: PREMIUM ARB OME 120 SERIES R...,tx,NaN,NaN,2023-09-08 11:15:52
43,7315145118,https://denver.craigslist.org/ctd/d/longmont-2...,denver,https://denver.craigslist.org,26.230310,2007.0,toyota,highlander limited,excellent,6,...,JTEEP21A870224689,4wd,SUV,white,https://images.craigslist.org/00n0n_b4JuuO8XzI...,2007 Toyota Highlander Limited FOR ONLY $166/m...,co,40.159889,-105.029898,2023-08-26 22:16:53
44,7311450840,https://fortmyers.craigslist.org/lee/cto/d/bon...,ft myers / SW florida,https://fortmyers.craigslist.org,95.740764,2011.0,mercedes-benz,sl63 amg,excellent,8,...,U4UR2YG446MDUSJE1,fwd,convertible,black,https://images.craigslist.org/00A0A_bzLs5DXfsy...,2011 MERCEDES SL63 IN GREAT CONDITION ONLY 640...,fl,26.362600,-81.818300,2024-04-25 04:26:58
45,7313719866,https://inlandempire.craigslist.org/cto/d/redl...,inland empire,https://inlandempire.craigslist.org,53.189314,1952.0,chevrolet,deluxe,excellent,6,...,PF36RB0MRX2ELUBWN,fwd,sedan,green,https://images.craigslist.org/00404_Q6Y5649iks...,"2nd owner. Rebuilt transmission, carburator, r...",ca,34.039700,-117.180400,2024-06-04 16:25:35
46,7313956924,https://nashville.craigslist.org/ctd/d/nashvil...,nashville,https://nashville.craigslist.org,23.921894,2008.0,mazda,cx-9,good,6,...,JM3TB28A180143929,fwd,sedan,white,https://images.craigslist.org/00F0F_emuDER6TTp...,2008 Mazda_ CX-9_ Touring Offered...,tn,36.112963,-86.746850,2023-12-24 04:45:43
47,7315404392,https://minneapolis.craigslist.org/csw/ctd/d/d...,minneapolis / st paul,https://minneapolis.craigslist.org,76.052740,2015.0,chevrolet,silverado 3500 hd -,excellent,8,...,1GB0KYEGXFZ142959,4wd,truck,silver,https://images.craigslist.org/00m0m_8kymzwgQV1...,2015 Chevrolet Silverado 3500 HD Service Utili...,mn,45.082884,-94.334760,2024-04-03 18:02:36
48,7311884969,https://lancaster.craigslist.org/cto/d/lancast...,lancaster,https://lancaster.craigslist.org,5.185958,2002.0,jaguar,xj8,fair,8,...,SAJDA14C92LF47248,rwd,sedan,green,https://images.craigslist.org/00M0M_aEAeof0l4X...,2002 Jaguar XJ8 British Racing Green with bei...,pa,40.033500,-76.284400,2023-11-12 06:33:24
49,7315896897,https://kansascity.craigslist.org/cto/d/kansas...,"kansas city, MO",https://kansascity.craigslist.org,10.371916,2001.0,pontiac,grand am,good,6,...,DKK34PS3FA3YDW1A5,fwd,coupe,red,https://images.craigslist.org/00D0D_buALoM4iep...,Gracie has been a part of our family for the p...,ks,39.032300,-94.470000,2023-09-25 19:32:46

In [17]:
unique_cars = sample_df[['manufacturer', 'model']].drop_duplicates().reset_index(drop=True)
unique_cars['car_id'] = range(1, len(unique_cars) + 1)

sample_cars_table = sample_df[["id", "manufacturer", "model", "drive", "cylinders", "transmission", "paint_color"]]
sample_cars_table = sample_cars_table.merge(unique_cars, on=['manufacturer', 'model'], how='left').drop_duplicates().reset_index(drop=True)
sample_cars_table

,id,manufacturer,model,drive,cylinders,transmission,paint_color,car_id
0,7316737397,bmw,4 series 440i xdrive gran,fwd,6,automatic,grey,1
1,7315303863,mercedes-benz,s-class,rwd,4,automatic,black,2
2,7306160055,audi,q8 premium sport utility 4d,rwd,6,automatic,blue,3
3,7310276447,ford,f-150,4wd,8,automatic,white,4
4,7303685479,chevrolet,equinox,4wd,4,automatic,white,5
5,7311927824,ford,expedition max,4wd,6,automatic,black,6
6,7310325874,acura,mdx sh-awd w/technology,4wd,6,automatic,white,7
7,7316146250,toyota,sienna xle minivan 4d,fwd,6,automatic,silver,8
8,7314542698,volkswagen,e-golf sel premium,rwd,6,automatic,blue,9
9,7308204040,toyota,tacoma,4wd,6,automatic,black,10
10,7309006024,ford,f-150,4wd,6,automatic,black,4
11,7315250912,dodge,challenger sxt coupe,rwd,6,automatic,black,11
12,7316874728,nissan,altima,fwd,8,automatic,black,12
13,7316172343,mercedes-benz,hino 268a,rwd,6,automatic,white,13
14,7307808269,jeep,cherokee,4wd,6,automatic,black,14
15,7314979287,chevrolet,c-10,4wd,6,manual,silver,15
16,7316842888,chevrolet,malibu,fwd,4,automatic,silver,16
17,7314527730,bmw,328i,4wd,6,automatic,black,17
18,7315246055,chevrolet,equinox lt awd,fwd,6,automatic,silver,18
19,7313415077,chevrolet,malibu lt,rwd,4,automatic,white,19
20,7316516953,audi,a4,4wd,4,automatic,silver,20
21,7304764850,subaru,outback,rwd,4,automatic,white,21
22,7314304686,jeep,wrangler,4wd,5,automatic,silver,22
23,7316497311,audi,s4,rwd,6,automatic,red,23
24,7306044408,gmc,yukon,4wd,8,automatic,brown,24
25,7315858337,gmc,sierra 1500 regular cab,rwd,6,automatic,brown,25
26,7316521595,ford,f-250,4wd,4,automatic,silver,26
27,7311254022,ford,f150 supercrew cab lariat,4wd,6,automatic,white,27
28,7314631799,chevrolet,tahoe lt sport utility,4wd,8,automatic,black,28
29,7314249325,ford,fusion,fwd,4,automatic,red,29
30,7310762992,buick,verano,4wd,4,automatic,red,30
31,7307120933,ford,fusion se,4wd,6,automatic,grey,31
32,7314547467,toyota,camry hybrid le sedan 4d,fwd,6,automatic,black,32
33,7313151519,chevrolet,traverse,4wd,6,automatic,grey,33
34,7311107018,mercedes-benz,gla,fwd,8,automatic,blue,34
35,7312313864,mazda,mx-5 miata grand touring,rwd,6,automatic,black,35
36,7310917301,ford,f-150,4wd,8,automatic,red,4
37,7314294370,chevrolet,silverado 2500 hd ltz,4wd,8,automatic,black,36
38,7305612349,mini,Genesis G70 3.3T Advanced Sedan,rwd,6,automatic,red,37
39,7305117163,hyundai,santa fe,4wd,6,automatic,grey,38
40,7301650586,volvo,s60 t5 momentum sedan 4d,fwd,8,automatic,red,39
41,7316820400,ford,f-250 super duty,4wd,8,automatic,red,40
42,7316332310,lexus,gx 470,4wd,8,automatic,silver,41
43,7315145118,toyota,highlander limited,4wd,6,automatic,white,42
44,7311450840,mercedes-benz,sl63 amg,fwd,8,automatic,black,43
45,7313719866,chevrolet,deluxe,fwd,6,manual,green,44
46,7313956924,mazda,cx-9,fwd,6,automatic,white,45
47,7315404392,chevrolet,silverado 3500 hd -,4wd,8,automatic,silver,46
48,7311884969,jaguar,xj8,rwd,8,automatic,green,47
49,7315896897,pontiac,grand am,fwd,6,automatic,red,48

In [18]:
colors = df["paint_color"].dropna().unique()
sample_colors_table = pd.DataFrame(colors, columns=["color"])

hex_dict = {
    'black': '#000000',
    'blue': '#0000FF',
    'brown': '#A52A2A',
    'green': '#008000',
    'grey': '#808080',
    'orange': '#FFA500',
    'purple': '#800080',
    'red': '#FF0000',
    'silver': '#C0C0C0',
    'white': '#FFFFFF',
    'yellow': '#FFFF00',
}

sample_colors_table['hex'] = colors_table['color'].map(hex_dict)

sample_colors_table

     color      hex
0    white  #FFFFFF
1     blue  #0000FF
2      red  #FF0000
3    black  #000000
4   silver  #C0C0C0
5     grey  #808080
6    brown  #A52A2A
7    green  #008000
8   yellow  #FFFF00
9   orange  #FFA500
10  purple  #800080

In [19]:
fake = Faker()

num_users = 10

user_data = {
    'user_id': random.sample(range(10000000, 100000000), num_users), # 8 digit user_id
    'first_name': [fake.first_name() for _ in range(num_users)],
    'last_name': [fake.last_name() for _ in range(num_users)],
    'email': [fake.email() for _ in range(num_users)],
    'date_of_birth': [fake.date_of_birth(minimum_age=18, maximum_age=90) for _ in range(num_users)],
    'password': [fake.password(length=10, special_chars=True, digits=True, upper_case=True, lower_case=True) for _ in range(num_users)]
}

sample_users_table = pd.DataFrame(user_data)
sample_users_table

,user_id,first_name,last_name,email,date_of_birth,password
0,57354515,Alexander,Diaz,madisontaylor@example.org,1948-04-10,(0(5SWs^+A
1,35781206,Julia,Duarte,zgarcia@example.org,1958-05-28,T76I&Dfos&
2,85707167,Aaron,Ramirez,jeremy04@example.net,1960-09-02,^bYKcWp*_4
3,73461497,Leah,Jackson,sarahart@example.org,1992-06-07,(*!21XIfuW
4,37571958,Heather,Robertson,robertjohnson@example.net,2002-09-12,@+*yiCEn2Z
5,93596265,Bobby,Brown,amber07@example.org,1946-12-31,zW7GxF)m(M
6,43481083,Sarah,Chase,tamarapalmer@example.net,1957-12-06,fF!F0rwc5!
7,53734996,Daniel,Lewis,connie72@example.com,1961-03-26,O*o13NIaSo
8,74012686,Roberto,Cherry,austinchurch@example.net,1942-07-19,!2jKS%*lqG
9,57364420,Scott,Smith,weissphilip@example.com,1985-07-31,#Q92U7him2

In [20]:
num_rentals = 50

rental_data = {
    'rental_id': random.sample(range(1000000000, 10000000000), num_rentals), # 10 digit rental_id
    'car_id': [random.choice(sample_cars_table['car_id']) for _ in range(num_rentals)],
    'user_id': [random.choice(sample_users_table['user_id']) for _ in range(num_rentals)],
    'rent_date': [fake.date_this_year(before_today=True, after_today=False) for _ in range(num_rentals)],
}

num_active = num_rentals // 2
num_inactive = num_rentals - num_active

# active rentals
active_rent_dates = [fake.date_this_year(before_today=True, after_today=False) for _ in range(num_active)]
active_return_dates = [(pd.to_datetime(rent_date) + pd.to_timedelta(random.randint(1, 50), unit='d')).strftime('%Y-%m-%d')
                       for rent_date in active_rent_dates]

# inactive rentals
start_date = datetime.now() - timedelta(days=365 * 10)
inactive_rent_dates = [fake.date_between_dates(date_start=start_date, date_end=datetime.now() - timedelta(days=50))
                       for _ in range(num_inactive)]
inactive_return_dates = [(pd.to_datetime(rent_date) + pd.to_timedelta(random.randint(1, 50), unit='d')).strftime('%Y-%m-%d')
                         for rent_date in inactive_rent_dates]

rental_data['rent_date'] = active_rent_dates + inactive_rent_dates
rental_data['return_date'] = active_return_dates + inactive_return_dates
rental_data['status'] = ['active'] * num_active + ['inactive'] * num_inactive
sample_rentals_table = pd.DataFrame(rental_data)
sample_rentals_table = sample_rentals_table.sample(frac=1).reset_index(drop=True)

sample_rentals_table

     rental_id  car_id   user_id   rent_date return_date    status
0   8792766032      20  57354515  2024-03-26  2024-04-25    active
1   5311311850      25  74012686  2024-05-26  2024-06-07    active
2   9749706953       2  57364420  2024-06-09  2024-07-16    active
3   2671282927       4  57354515  2024-02-06  2024-03-09    active
4   4317848457      48  43481083  2019-12-29  2020-02-13  inactive
5   6532143052      46  85707167  2020-01-20  2020-02-28  inactive
6   3999955219      29  57364420  2021-07-12  2021-08-26  inactive
7   5088241972      26  57364420  2019-12-11  2020-01-14  inactive
8   2561594081      38  85707167  2014-11-05  2014-11-28  inactive
9   5882296605      19  53734996  2019-08-13  2019-09-12  inactive
10  7599072074       7  57364420  2024-05-20  2024-06-30    active
11  5303385663      17  57364420  2024-06-01  2024-06-25    active
12  9549779559      39  74012686  2020-05-19  2020-05-25  inactive
13  8836324201      35  37571958  2017-07-24  2017-08-06  inactive
14  7922513540       2  35781206  2024-04-27  2024-05-19    active
15  4188274354       3  74012686  2023-09-16  2023-10-09  inactive
16  9409844346      31  93596265  2024-05-09  2024-06-19    active
17  1131283344       2  37571958  2024-02-05  2024-03-04    active
18  7625363059       4  57364420  2014-12-04  2015-01-09  inactive
19  5409531512       3  57354515  2024-02-07  2024-03-06    active
20  9387763432      37  93596265  2020-03-30  2020-05-11  inactive
21  9361883231      11  73461497  2023-05-12  2023-06-14  inactive
22  3066471888       4  57364420  2024-02-11  2024-02-19    active
23  2820974563       1  85707167  2024-06-17  2024-08-05    active
24  7872047971       4  93596265  2015-05-20  2015-06-03  inactive
25  5045864803      12  53734996  2024-02-20  2024-04-08    active
26  7138661340       8  53734996  2016-10-29  2016-11-24  inactive
27  3437371136      20  37571958  2017-02-28  2017-03-22  inactive
28  5402092650      15  85707167  2024-04-03  2024-04-14    active
29  6647622923      11  57354515  2024-05-10  2024-06-21    active
30  8155744048      16  53734996  2018-01-17  2018-01-27  inactive
31  5990031232       1  85707167  2024-01-19  2024-02-02    active
32  8481478132      21  93596265  2024-03-08  2024-04-11    active
33  7581836368      25  57354515  2024-03-05  2024-03-17    active
34  6979893157      26  85707167  2024-04-10  2024-05-10    active
35  5624900528      16  53734996  2017-01-01  2017-02-14  inactive
36  7167554201       2  73461497  2024-05-13  2024-05-23    active
37  9549680404      30  57364420  2021-08-15  2021-09-06  inactive
38  5584855325       4  85707167  2018-01-10  2018-01-22  inactive
39  8106301862      44  43481083  2024-06-13  2024-07-24    active
40  2768793515      11  35781206  2016-05-07  2016-06-22  inactive
41  9957988181      22  43481083  2024-05-12  2024-06-05    active
42  2182666778      41  57354515  2024-02-16  2024-02-21    active
43  5566695238      35  73461497  2015-03-01  2015-04-16  inactive
44  3759310528      13  85707167  2019-04-09  2019-05-18  inactive
45  5562765946       7  37571958  2021-11-14  2021-11-21  inactive
46  1900069886      35  57354515  2024-01-16  2024-02-26    active
47  3585211064      29  57354515  2023-06-29  2023-08-09  inactive
48  9849521148      24  85707167  2024-01-05  2024-01-07    active
49  8848051091      38  53734996  2022-10-13  2022-11-04  inactive

In [25]:
sample_listings_table = sample_df[["id", "url", "region", "image_url", "description", "condition", "vin", "lat", "long", "state", "price", "posting_date"]]
sample_listings_table["car_id"] = sample_cars_table['car_id']

sample_listings_table = sample_listings_table.rename(columns={
    "url": "listing_url",
    "lat": "lat_id",
    "long": "long_id",
    "state": "state_id"
})

sample_listings_table

C:\Users\siddh\AppData\Local\Temp\ipykernel_40212\395790312.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_listings_table["car_id"] = sample_cars_table['car_id']

,id,listing_url,region,image_url,description,condition,vin,lat_id,long_id,state_id,price,posting_date,car_id
0,7316737397,https://salina.craigslist.org/ctd/d/salina-201...,salina,https://images.craigslist.org/00606_eTQPhZGTkM...,Carvana is the safer way to buy a car During t...,good,WBA4E5C56HG189275,38.810000,-97.610000,ks,77.097910,2024-05-01 20:52:08,1
1,7315303863,https://nashville.craigslist.org/ctd/d/murfree...,nashville,https://images.craigslist.org/00n0n_ktxXjzsmY5...,2020 Mercedes-Benz S560 PREMIUM RWD W/NAV ...,excellent,WDDUG8DB7LA521485,35.840175,-86.387603,tn,239.218938,2024-06-05 05:16:46,2
2,7306160055,https://knoxville.craigslist.org/ctd/d/knoxvil...,knoxville,https://images.craigslist.org/00e0e_c50g4fIkpN...,Carvana is the safer way to buy a car During t...,good,WA1AVAF10KD039141,35.970000,-83.940000,tn,171.774888,2023-06-23 15:57:20,3
3,7310276447,https://bemidji.craigslist.org/ctd/d/perham-20...,bemidji,https://images.craigslist.org/00t0t_5Vkb0qv8r8...,"2017 Ford F-150 XLT -- $25,250 ☎ Call: (...",like new,1FTFX1EF7HKC12788,46.590185,-95.574690,mn,67.151508,2023-12-08 09:29:49,4
4,7303685479,https://eauclaire.craigslist.org/ctd/d/wiscons...,eau claire,https://images.craigslist.org/00H0H_2c6SA6BmDW...,2015 Chevrolet Equinox LS AWD 2.4 4 Cylinder ...,excellent,T435XZZHZ62NGMX3L,44.410164,-89.882412,wi,34.493270,2024-05-06 17:32:51,5
5,7311927824,https://olympic.craigslist.org/ctd/d/puyallup-...,olympic peninsula,https://images.craigslist.org/00T0T_1nXrsOqH1Q...,Joydrive: 253-201-0804 https://joydrive.com/...,good,1FMJK1JT2LEA38166,47.199100,-122.315100,wa,178.181541,2023-12-29 15:02:07,6
6,7310325874,https://porthuron.craigslist.org/ctd/d/point-e...,port huron,https://images.craigslist.org/00h0h_dGAvgLShy8...,Carvana is the safer way to buy a car During t...,good,5J8YD4H50KL008682,43.017170,-82.450990,mi,105.288246,2024-04-23 05:58:14,7
7,7316146250,https://washingtondc.craigslist.org/nva/ctd/d/...,"washington, DC",https://images.craigslist.org/00a0a_hbBcOXHYbg...,Carvana is the safer way to buy a car During t...,good,5TDYZ3DC8LS062357,38.890000,-77.030000,dc,97.309849,2023-06-29 12:18:14,8
8,7314542698,https://cnj.craigslist.org/ctd/d/trenton-2017-...,central NJ,https://images.craigslist.org/00H0H_3V3uEl06cB...,Carvana is the safer way to buy a car During t...,good,WVWPR7AU4HW950160,40.220000,-74.760000,nj,50.503253,2024-04-03 12:34:10,9
9,7308204040,https://bham.craigslist.org/ctd/d/clanton-2019...,birmingham,https://images.craigslist.org/00606_2RL4eJFKt2...,phone: ☎ (205) 862-8003 text: Text ...,excellent,5TFCZ5AN0KX185798,32.922900,-86.545000,al,121.088132,2023-09-15 22:53:48,10
10,7309006024,https://rockford.craigslist.org/ctd/d/beloit-f...,rockford,https://images.craigslist.org/00v0v_79vYOEc2fm...,------------ Black beauty; -- V6 turbo -- Le...,good,9U2JT5WW11C6GVPHE,42.562000,-89.086000,il,33.243321,2024-06-02 00:41:19,4
11,7315250912,https://charlotte.craigslist.org/ctd/d/matthew...,charlotte,https://images.craigslist.org/00303_kK4BZ6pCOB...,"2012 Dodge Challenger SXT Coupe, has 69864mi a...",excellent,5U9RG24U79LZY2K4X,35.080492,-80.675883,nc,31.905610,2024-04-09 12:25:17,11
12,7316874728,https://dallas.craigslist.org/dal/cto/d/north-...,dallas / fort worth,https://images.craigslist.org/00505_97XOE3Gn1R...,"Hello, selling my 2011 Nissan Altima Runs and...",good,FZVZCYCLDSST52VEG,32.840000,-97.225000,tx,6.648664,2024-03-15 15:52:18,12
13,7316172343,https://providence.craigslist.org/ctd/d/covent...,rhode island,https://images.craigslist.org/00r0r_iFXpNUrfaw...,"*2012 Hino 268a *Palfinger HAD 185- 36""-54"" Ho...",excellent,5PVNE8JT2C4S54269,41.662030,-71.571768,ri,140.685734,2024-03-13 13:15:44,13
14,7307808269,https://annapolis.craigslist.org/ctd/d/temple-...,annapolis,https://images.craigslist.org/00V0V_8TAYM28V8a...,2017 Jeep Cherokee Limited 4x4 Limited 4dr SUV...,excellent,1C4PJMDS8HW619842,38.823449,-76.947378,md,0.000000,2024-04-30 12:14:14,14
15,7314979287,https://medford.craigslist.org/cto/d/ashland-1...,medford-ashland,https://images.craigslist.org/00s0s_4jBuWdML03...,one owner c-10 short bed stepside. 350 ramjet ...,excellent,ACPX2KR22ZUSKMYLN,42.188500,-122.693000,or,47.870382,2023-08-27 15:09:42,15
16,7316842888,https://fortwayne.craigslist.org/ctd/d/warsaw-...,fort wayne,https://images.craigslist.org/00h0h_lLK5JlSFsO...,"2012 Chevrolet Malibu 1LT - $4,581 Year: 2012...",good,1G1ZC5EU1CF388003,41.237540,-85.825740,in,12.183012,2024-03-26 19:18:31,16
17,7314527730,https://houston.craigslist.org/ctd/d/richmond-...,houston,https://images.craigslist.org/00606_7hXhEvqKna...,"ANOTHER GERMAN MACHINE, THIS 2011 BMW 328I IS ...",good,WBAPH7G58BNM57188,29.551100,-95.732900,tx,18.602962,2023-07-05 15:24:11,17
18,7315246055,https://boston.craigslist.org/sob/ctd/d/chevro...,boston,https://images.craigslist.org/00y0y_9cuZFk2Haa...,"New Car Dealer Trade In, Automatic, 6 cyl, LT ...",excellent,V387L4YMGTB2ZBZ38,41.983481,-70.699794,ma,10.624565,2024-02-25 22:11:59,18
19,7313415077,https://mcallen.craigslist.org/cto/d/hargill-c...,mcallen / edinburg,https://images.craigslist.org/00p0p_fdTv6HabU0...,Clean title vehicle is paid off price is negot...,good,RVDY7T2FF33WZ6HF6,26.466100,-98.069500,tx,18.616260,2024-04-30 22:19:10,19
20,7316516953,https://seattle.craigslist.org/see/cto/d/seatt...,seattle-tacoma,https://images.craigslist.org/00m0m_idpJXMFoG2...,"Good condition A4 2.0T with S-line package, au...",good,WADUF78EX8A045538,47.668520,-122.333638,wa,13.284031,2023-09-08 05:25:46,20
21,7304764850,https://anchorage.craigslist.org/ctd/d/anchora...,anchorage / mat-su,https://images.craigslist.org/00X0X_28ybqoechp...,2010 Subaru Outback 2.5i Premium AWD 4dr Wagon...,excellent,4S4BRCHC2A3361269,61.161670,-149.863120,ak,29.240825,2023-10-24 04:49:01,21
22,7314304686,https://daytona.craigslist.org/ctd/d/orlando-2...,daytona beach,https://images.craigslist.org/00A0A_8s0nQJe9Td...,Drive it home today. Call (Or Text) us now !!C...,excellent,1J4GA59198L640880,28.551277,-81.438392,fl,37.205925,2024-01-26 20:12:31,22
23,7316497311,https://denver.craigslist.org/ctd/d/englewood-...,denver,https://images.craigslist.org/00E0E_2dtNvMvJuY...,2007 Audi S4 Sport Sedan Offered by: Color...,like new,WAUGL78E17A112810,39.595086,-104.845088,co,38.538317,2024-05-06 23:50:30,23
24,7306044408,https://fayar.craigslist.org/ctd/d/fayettevill...,fayetteville,https://images.craigslist.org/01616_aKyl3GuUyl...,"Pure-QUALITY & Luxury, Stylish, Roomy, Powerfu...",excellent,1GKFC33J49R296516,36.058208,-94.163350,ar,25.264924,2024-03-13 09:26:29,24
25,7315858337,https://muskegon.craigslist.org/ctd/d/muskegon...,muskegon,https://images.craigslist.org/00R0R_lwWjXSEWNa...,Carvana is the safer way to buy a car During t...,good,1GTN1TEH5EZ273019,43.220000,-86.250000,mi,69.119513,2024-02-06 11:33:30,25
26,7316521595,https://phoenix.craigslist.org/evl/ctd/d/glend...,phoenix,https://images.craigslist.org/00i0i_7NpU7SN5RQ...,2015 Ford F250 Super Duty Crew Cab XLT Pickup ...,fair,1FT7W2B69FEB39601,33.534798,-112.180236,az,100.761836,2024-05-25 20:58:57,26
27,7311254022,https://modesto.craigslist.org/ctd/d/atlanta-2...,modesto,https://images.craigslist.org/00N0N_1xMPvfxRAI...,Carvana is the safer way to buy a car During t...,good,1FTFW1CT8EKE23666,33.779214,-84.411811,ca,94.650384,2024-01-11 06:06:26,27
28,7314631799,https://augusta.craigslist.org/ctd/d/augusta-2...,augusta,https://images.craigslist.org/00U0U_cvoZgipqRa...,Carvana is the safer way to buy a car During t...,good,1GNSCBKC8FR712092,33.450000,-81.990000,ga,98.373636,2024-04-13 00:41:15,28
29,7314249325,https://newhaven.craigslist.org/ctd/d/waterbur...,new haven,https://images.craigslist.org/01111_8fvD3iaeSE...,2013 Ford_ Fusion_ SE Offered by:...,excellent,3FA6P0H78DR109843,41.512139,-73.021803,ct,26.581359,2023-09-13 07:46:06,29
30,7310762992,https://jacksonville.craigslist.org/cto/d/sanf...,jacksonville,https://images.craigslist.org/00w0w_fe2va22bPj...,2013 Buick Verano - MUST SEE- Drives GREAT! Pr...,excellent,U4P5YPBXAM6ZB9LVY,28.801300,-81.285000,fl,19.680046,2023-10-25 12:23:33,30
31,7307120933,https://pittsburgh.craigslist.org/ctd/d/pittsb...,pittsburgh,https://images.craigslist.org/00a0a_hvfGzbQfB8...,Make your way in this 2010 Ford Fusion SE. V6...,good,CN5G7PV1ULSJZVVAG,40.411594,-79.955964,pa,0.000000,2024-02-01 16:07:28,31
32,7314547467,https://longisland.craigslist.org/ctd/d/ronkon...,long island,https://images.craigslist.org/01313_5Wd2JbbUwH...,Carvana is the safer way to buy a car During t...,good,4T1BD1FK1GU195097,40.800000,-73.120000,ny,54.758398,2024-03-18 17:39:39,32
33,7313151519,https://providence.craigslist.org/cto/d/cranst...,rhode island,https://images.craigslist.org/00d0d_cQxscfvZl2...,Car for sale. In good condition no problems no...,excellent,S6RSU5RNCPLUDDJ55,41.776600,-71.438300,ri,17.552473,2024-03-02 15:45:35,33
34,7311107018,https://merced.craigslist.org/ctd/d/fresno-201...,merced,https://images.craigslist.org/00k0k_4FlKvlvBW1...,2019 *** Mercedes-Benz GLA GLA 250 SUV *** ...,excellent,1MLJK7HJF7S6YTLWS,36.837679,-119.809638,ca,79.778651,2023-12-08 04:46:39,34
35,7312313864,https://chillicothe.craigslist.org/ctd/d/chill...,chillicothe,https://images.craigslist.org/00R0R_61FUmXhdBP...,Carvana is the safer way to buy a car During t...,good,JM1NDAD70K0306349,39.330000,-82.980000,oh,82.416841,2023-09-24 05:06:34,35
36,7310917301,https://albany.craigslist.org/cto/d/selkirk-20...,albany,https://images.craigslist.org/00K0K_ftUCUZmGfV...,2008 Ford F-150 for sale. Recently inspected a...,good,59UHLX010N580RZA8,42.548600,-73.812900,ny,27.924390,2023-10-07 22:55:29,4
37,7314294370,https://boone.craigslist.org/ctd/d/peachland-2...,boone,https://images.craigslist.org/00e0e_iD7FV8sntH...,VEHICLE INFO: 2018 Chevrolet Silverado 2500HD ...,like new,1GC1KWEYXJF108821,34.932310,-80.278244,nc,130.047872,2023-10-01 10:22:51,36
38,7305612349,https://wheeling.craigslist.org/ctd/d/wheeling...,northern panhandle,https://images.craigslist.org/00101_cwwFdOZECn...,Carvana is the safer way to buy a car During t...,good,KMTG34LE9KU021141,40.070000,-80.690000,oh,106.352033,2024-06-13 18:20:13,37
39,7305117163,https://southbend.craigslist.org/ctd/d/south-b...,south bend / michiana,https://images.craigslist.org/00u0u_6S59X863wx...,Rightway South Bend address: 50537 State Ro...,excellent,5XYZGDAGXBG020341,41.759395,-86.251452,in,20.209280,2023-09-07 13:15:01,38
40,7301650586,https://muskegon.craigslist.org/ctd/d/muskegon...,muskegon,https://images.craigslist.org/00x0x_15sbgnxCIS...,Carvana is the safer way to buy a car During t...,good,7JR102FKXLG042696,43.220000,-86.250000,mi,81.353055,2023-12-24 02:19:22,39
41,7316820400,https://roanoke.craigslist.org/ctd/d/2017-ford...,roanoke,https://images.craigslist.org/01717_6MMGIO8bg3...,"2017 Ford F-250SD XLT 4x4 Tow Package, Bed Lin...",excellent,3WL6FW7R7LJJPSUUK,NaN,NaN,va,0.000000,2024-01-18 11:36:37,40
42,7316332310,https://dallas.craigslist.org/dal/ctd/d/2004-l...,dallas / fort worth,https://images.craigslist.org/00C0C_ctHrI5Cxsd...,Description: PREMIUM ARB OME 120 SERIES R...,good,2N05UYVWGPGYGX9DL,NaN,NaN,tx,76.592612,2023-09-08 11:15:52,41
43,7315145118,https://denver.craigslist.org/ctd/d/longmont-2...,denver,https://images.craigslist.org/00n0n_b4JuuO8XzI...,2007 Toyota Highlander Limited FOR ONLY $166/m...,excellent,JTEEP21A870224689,40.159889,-105.029898,co,26.230310,2023-08-26 22:16:53,42
44,7311450840,https://fortmyers.craigslist.org/lee/cto/d/bon...,ft myers / SW florida,https://images.craigslist.org/00A0A_bzLs5DXfsy...,2011 MERCEDES SL63 IN GREAT CONDITION ONLY 640...,excellent,U4UR2YG446MDUSJE1,26.362600,-81.818300,fl,95.740764,2024-04-25 04:26:58,43
45,7313719866,https://inlandempire.craigslist.org/cto/d/redl...,inland empire,https://images.craigslist.org/00404_Q6Y5649iks...,"2nd owner. Rebuilt transmission, carburator, r...",excellent,PF36RB0MRX2ELUBWN,34.039700,-117.180400,ca,53.189314,2024-06-04 16:25:35,44
46,7313956924,https://nashville.craigslist.org/ctd/d/nashvil...,nashville,https://images.craigslist.org/00F0F_emuDER6TTp...,2008 Mazda_ CX-9_ Touring Offered...,good,JM3TB28A180143929,36.112963,-86.746850,tn,23.921894,2023-12-24 04:45:43,45
47,7315404392,https://minneapolis.craigslist.org/csw/ctd/d/d...,minneapolis / st paul,https://images.craigslist.org/00m0m_8kymzwgQV1...,2015 Chevrolet Silverado 3500 HD Service Utili...,excellent,1GB0KYEGXFZ142959,45.082884,-94.334760,mn,76.052740,2024-04-03 18:02:36,46
48,7311884969,https://lancaster.craigslist.org/cto/d/lancast...,lancaster,https://images.craigslist.org/00M0M_aEAeof0l4X...,2002 Jaguar XJ8 British Racing Green with bei...,fair,SAJDA14C92LF47248,40.033500,-76.284400,pa,5.185958,2023-11-12 06:33:24,47
49,7315896897,https://kansascity.craigslist.org/cto/d/kansas...,"kansas city, MO",https://images.craigslist.org/00D0D_buALoM4iep...,Gracie has been a part of our family for the p...,good,DKK34PS3FA3YDW1A5,39.032300,-94.470000,ks,10.371916,2023-09-25 19:32:46,48

In [22]:
import pandas as pd

state_data = {
    'state_id': ['al', 'ak', 'az', 'ar', 'ca', 'co', 'ct', 'dc', 'de', 'fl', 'ga',
                   'hi', 'id', 'il', 'in', 'ia', 'ks', 'ky', 'la', 'me', 'md', 'ma',
                   'mi', 'mn', 'ms', 'mo', 'mt', 'nc', 'ne', 'nv', 'nj', 'nm', 'ny',
                   'nh', 'nd', 'oh', 'ok', 'or', 'pa', 'ri', 'sc', 'sd', 'tn', 'tx',
                   'ut', 'vt', 'va', 'wa', 'wv', 'wi', 'wy'],
    'state_name': ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'District of Columbia', 
                   'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 
                   'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 
                   'Montana', 'North Carolina', 'Nebraska', 'Nevada', 'New Jersey', 'New Mexico', 'New York', 'New Hampshire', 
                   'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 
                   'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
    'time_zone': ['Central', 'Alaska', 'Mountain', 'Central', 'Pacific', 'Mountain', 'Eastern', 'Eastern', 'Eastern', 'Eastern', 
                  'Eastern', 'Hawaii-Aleutian', 'Mountain', 'Central', 'Eastern', 'Central', 'Central', 'Eastern', 'Central', 
                  'Eastern', 'Eastern', 'Eastern', 'Eastern', 'Central', 'Central', 'Central', 'Mountain', 'Eastern', 'Central', 
                  'Pacific', 'Eastern', 'Mountain', 'Eastern', 'Eastern', 'Central', 'Eastern', 'Central', 'Pacific', 'Eastern', 
                  'Eastern', 'Eastern', 'Central', 'Central', 'Central', 'Mountain', 'Eastern', 'Eastern', 'Pacific', 'Eastern', 
                  'Central', 'Mountain']
}

sample_states_table = pd.DataFrame(state_data)
sample_states_table

   state_id            state_name        time_zone
0        al               Alabama          Central
1        ak                Alaska           Alaska
2        az               Arizona         Mountain
3        ar              Arkansas          Central
4        ca            California          Pacific
5        co              Colorado         Mountain
6        ct           Connecticut          Eastern
7        dc  District of Columbia          Eastern
8        de              Delaware          Eastern
9        fl               Florida          Eastern
10       ga               Georgia          Eastern
11       hi                Hawaii  Hawaii-Aleutian
12       id                 Idaho         Mountain
13       il              Illinois          Central
14       in               Indiana          Eastern
15       ia                  Iowa          Central
16       ks                Kansas          Central
17       ky              Kentucky          Eastern
18       la             Louisiana          Central
19       me                 Maine          Eastern
20       md              Maryland          Eastern
21       ma         Massachusetts          Eastern
22       mi              Michigan          Eastern
23       mn             Minnesota          Central
24       ms           Mississippi          Central
25       mo              Missouri          Central
26       mt               Montana         Mountain
27       nc        North Carolina          Eastern
28       ne              Nebraska          Central
29       nv                Nevada          Pacific
30       nj            New Jersey          Eastern
31       nm            New Mexico         Mountain
32       ny              New York          Eastern
33       nh         New Hampshire          Eastern
34       nd          North Dakota          Central
35       oh                  Ohio          Eastern
36       ok              Oklahoma          Central
37       or                Oregon          Pacific
38       pa          Pennsylvania          Eastern
39       ri          Rhode Island          Eastern
40       sc        South Carolina          Eastern
41       sd          South Dakota          Central
42       tn             Tennessee          Central
43       tx                 Texas          Central
44       ut                  Utah         Mountain
45       vt               Vermont          Eastern
46       va              Virginia          Eastern
47       wa            Washington          Pacific
48       wv         West Virginia          Eastern
49       wi             Wisconsin          Central
50       wy               Wyoming         Mountain

In [23]:
num_favorites = 20
favorite_data = {
    'id': [random.choice(sample_cars_table['id']) for _ in range(num_favorites)],
    'user_id': [random.choice(sample_users_table['user_id']) for _ in range(num_favorites)]
}

sample_favorites_table = pd.DataFrame(favorite_data)
sample_favorites_table['car_id'] = sample_favorites_table['id'].map(sample_cars_table.set_index('id')['car_id'].to_dict())

sample_favorites_table

            id   user_id  car_id
0   7316737397  57354515       1
1   7316172343  37571958      13
2   7311254022  53734996      27
3   7313415077  73461497      19
4   7306160055  35781206       3
5   7311884969  53734996      47
6   7316521595  37571958      26
7   7311884969  37571958      47
8   7316737397  53734996       1
9   7308204040  73461497      10
10  7314547467  73461497      32
11  7316820400  37571958      40
12  7315303863  35781206       2
13  7301650586  35781206      39
14  7316332310  53734996      41
15  7314304686  37571958      22
16  7311450840  57364420      43
17  7315896897  43481083      48
18  7309006024  57354515       4
19  7306044408  57354515      24

In [24]:
# save da files
sample_cars_table.to_csv('sample_cars_table.csv', index=False)
sample_colors_table.to_csv('sample_colors_table.csv', index=False)
sample_users_table.to_csv('sample_users_table.csv', index=False)
sample_rentals_table.to_csv('sample_rentals_table.csv', index=False)
sample_listings_table.to_csv('sample_listings_table.csv', index=False)
sample_favorites_table.to_csv('sample_favorites_table.csv', index=False)
sample_states_table.to_csv('sample_states_table.csv', index=False)

### Data Summaries

In [28]:
lengths = []
for i in (df["url"] + df["image_url"]):
    lengths.append(len(str(i)))

max(lengths)

169

In [15]:
# lat and long
max_lat = max(df["lat"].unique())
min_lat = min(df["lat"].unique())

max_long = max(df["long"].unique())
min_long = min(df["long"].unique())

print("lat: [", min_lat, ",", max_lat, "] long: [", min_long, ",", max_long, "]")

lat: [ -84.122245 , 82.390818 ] long: [ -159.827728 , 173.885502 ]

In [19]:
df["state"].dropna().unique()

array(['al', 'ak', 'az', 'ar', 'ca', 'co', 'ct', 'dc', 'de', 'fl', 'ga',
       'hi', 'id', 'il', 'in', 'ia', 'ks', 'ky', 'la', 'me', 'md', 'ma',
       'mi', 'mn', 'ms', 'mo', 'mt', 'nc', 'ne', 'nv', 'nj', 'nm', 'ny',
       'nh', 'nd', 'oh', 'ok', 'or', 'pa', 'ri', 'sc', 'sd', 'tn', 'tx',
       'ut', 'vt', 'va', 'wa', 'wv', 'wi', 'wy'], dtype=object)

In [20]:
df["condition"].dropna().unique()

array(['good', 'excellent', 'fair', 'like new', 'new', 'salvage'],
      dtype=object)

In [23]:
user_favorites = favorites_table[favorites_table['userID'] == 'user_25764002']
user_favorites

                               favoriteID          id         userID
2    ee48c532-74cb-441b-866e-bc80d93b2983  7305679700  user_25764002
62   8bc0a3ef-2b21-4166-a4f3-3c71340284a1  7315916207  user_25764002
432  70b71a2d-2668-4515-858b-43cb648357db  7316856596  user_25764002
519  f1b6b231-3410-4140-aad3-2087e9e2f1a9  7313105260  user_25764002

In [21]:
len(df['manufacturer'].unique())

42

In [19]:
df['model'].unique()

array(['sierra 1500 crew cab slt', 'silverado 1500',
       'silverado 1500 crew', ..., 'gand wagoneer', '96 Suburban',
       'Paige Glenbrook Touring'], dtype=object)

In [20]:
len(df['model'].unique())

29667