In [1]:
import pandas as pd
import numpy as np
import uuid
import random
from faker import Faker
import string
from datetime import datetime, timedelta, date

In [2]:
df = pd.read_csv("vehicles.csv")

In [3]:
def fill_na(column):
    actual = column.dropna().tolist()
    return column.apply(lambda x: x if pd.notna(x) else random.choice(actual))

def fill_na_vin(column):
    actual = column.dropna().tolist()
    vin_chars = string.ascii_uppercase.replace('I', '').replace('O', '').replace('Q', '') + string.digits

    def generate_random_vin():
        return ''.join(random.choices(vin_chars, k=17))
    
    return column.apply(lambda x: x if pd.notna(x) else generate_random_vin())

def generate_random_dates(n, start_date, end_date):
    start_u = start_date.value // 10**9
    end_u = end_date.value // 10**9
    return pd.to_datetime(np.random.randint(start_u, end_u, n), unit='s')

In [4]:
df = df[27:]
df = df.reset_index().drop(["county", "size", "index"], axis=1)

In [5]:
fake = Faker()

df['drive'] = fill_na(df['drive'])
df['cylinders'] = fill_na(df['cylinders'])
df['paint_color'] = fill_na(df['paint_color'])
df['model'] = fill_na(df['model'])
df['manufacturer'] = fill_na(df['manufacturer'])
df['condition'] = fill_na(df['condition'])
df['fuel'] = fill_na(df['fuel'])
df['type'] = fill_na(df['type'])
df['VIN'] = fill_na_vin(df['VIN'])
df['description'] = [fake.text(max_nb_chars=200) for _ in range(len(df))]

avg_price = df["price"].mean()
df["price"] = (df["price"] / avg_price) * 200

df['cylinders'] = df['cylinders'].str.extract('(\d+)').astype(float)
df['cylinders'].fillna(df['cylinders'].dropna().sample(n=1).values[0], inplace=True)
df['cylinders'] = df['cylinders'].astype(int)


df['paint_color'] = df['paint_color'].replace('custom', 'white')
df['transmission'] = df['transmission'].replace('other', 'automatic')

df = df.rename(columns={
    "VIN": "vin"
})

end_date = pd.to_datetime('now')
start_date = end_date - pd.DateOffset(years=1)
df['posting_date'] = generate_random_dates(len(df), start_date, end_date)

df

C:\Users\siddh\anaconda3\lib\site-packages\pandas\core\arrays\datetimes.py:2224: FutureWarning: The parsing of 'now' in pd.to_datetime without `utc=True` is deprecated. In a future version, this will match Timestamp('now') and Timestamp.now()
  result, tz_parsed = tslib.array_to_datetime(

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,vin,drive,type,paint_color,image_url,description,state,lat,long,posting_date
0,7316814884,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,89.331452,2014.0,gmc,sierra 1500 crew cab slt,good,8,...,3GTP1VEC4EG551563,4wd,pickup,white,https://images.craigslist.org/00R0R_lwWjXSEWNa...,Give human table produce. Moment together trad...,al,32.590000,-85.480000,2024-01-09 16:25:40
1,7316814758,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,60.077330,2010.0,chevrolet,silverado 1500,good,8,...,1GCSCSE06AZ123805,fwd,pickup,blue,https://images.craigslist.org/00R0R_lwWjXSEWNa...,Keep she conference because from available. Wh...,al,32.590000,-85.480000,2023-11-22 10:16:49
2,7316814989,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,105.288246,2020.0,chevrolet,silverado 1500 crew,good,8,...,3GCPWCED5LG130317,rwd,pickup,red,https://images.craigslist.org/01212_jjirIWa0y0...,Quickly wonder reflect visit fine they have. S...,al,32.590000,-85.480000,2023-07-26 13:29:51
3,7316743432,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,82.416841,2017.0,toyota,tundra double cab sr,good,8,...,5TFRM5F17HX120972,rwd,pickup,red,https://images.craigslist.org/00x0x_1y9kIOzGCF...,Fact read check four front. Discover every fis...,al,32.590000,-85.480000,2023-09-16 20:47:56
4,7316356412,https://auburn.craigslist.org/cto/d/auburn-uni...,auburn,https://auburn.craigslist.org,39.891985,2013.0,ford,f-150 xlt,excellent,6,...,LKET7MUYGVE6MESN0,rwd,truck,black,https://images.craigslist.org/00404_l4loxHvdQe...,Figure population score parent interview. Coun...,al,32.592000,-85.518900,2024-02-06 01:08:04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426848,7301591192,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,62.736795,2019.0,nissan,maxima s sedan 4d,good,6,...,1N4AA6AV6KC367801,fwd,sedan,white,https://images.craigslist.org/00o0o_iiraFnHg8q...,Special maintain push focus. Drug beat short l...,wy,33.786500,-84.445400,2024-06-13 04:19:09
426849,7301591187,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,81.353055,2020.0,volvo,s60 t5 momentum sedan 4d,good,8,...,7JR102FKXLG042696,fwd,sedan,red,https://images.craigslist.org/00x0x_15sbgnxCIS...,Affect authority quality per. Cold issue seaso...,wy,33.786500,-84.445400,2023-09-16 20:50:45
426850,7301591147,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,93.054704,2020.0,cadillac,xt4 sport suv 4d,good,8,...,1GYFZFR46LF088296,4wd,hatchback,white,https://images.craigslist.org/00L0L_farM7bxnxR...,Approach radio career end.\nSmile Democrat reg...,wy,33.779214,-84.411811,2023-12-25 20:18:06
426851,7301591140,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,77.097910,2018.0,lexus,es 350 sedan 4d,good,6,...,58ABK1GG4JU103853,fwd,sedan,silver,https://images.craigslist.org/00z0z_bKnIVGLkDT...,Mean experience while truth. World often count...,wy,33.786500,-84.445400,2024-04-12 18:38:26
426852,7301591129,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,81.353055,2019.0,bmw,4 series 430i gran coupe,good,4,...,WBA4J1C58KBM14708,rwd,coupe,white,https://images.craigslist.org/00Y0Y_lEUocjyRxa...,After very two reveal edge over approach. Toda...,wy,33.779214,-84.411811,2024-06-15 10:32:36

In [7]:
df.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'vin', 'drive', 'type', 'paint_color', 'image_url',
       'description', 'state', 'lat', 'long', 'posting_date'],
      dtype='object')

# Production Dataset

In [8]:
production_df = df.sample(n=40000).reset_index(drop=True)
min_mileage = 5000
max_mileage = 200000
production_df['mileage'] = [random.randint(min_mileage, max_mileage) for _ in range(len(production_df))]

production_df

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,drive,type,paint_color,image_url,description,state,lat,long,posting_date,mileage
0,7309497332,https://wausau.craigslist.org/ctd/d/cadott-201...,wausau,https://wausau.craigslist.org,50.516551,2015.0,chevrolet,equinox ltz,good,8,...,fwd,other,grey,https://images.craigslist.org/01212_eAfFtMAo2F...,Reflect past year former treat single fire. Ma...,wi,44.945079,-91.144673,2023-08-15 09:14:57,45662
1,7310634470,https://madison.craigslist.org/ctd/d/waterloo-...,madison,https://madison.craigslist.org,0.000000,2005.0,chevrolet,corvette,excellent,8,...,rwd,coupe,silver,https://images.craigslist.org/00W0W_aCJrKRpyOJ...,Senior series gas pattern name area. Shoulder ...,wi,42.477800,-92.366100,2023-08-22 05:57:13,172592
2,7311961848,https://chico.craigslist.org/ctd/d/sacramento-...,chico,https://chico.craigslist.org,44.617856,2014.0,ford,mustang,good,6,...,fwd,coupe,black,https://images.craigslist.org/01010_bEZXOWno6n...,Top piece investment parent relate decision th...,ca,38.605011,-121.401917,2023-10-03 01:39:27,189984
3,7316631640,https://springfield.craigslist.org/ctd/d/reeds...,springfield,https://springfield.craigslist.org,0.000000,2008.0,toyota,tacoma double cab sr5,good,6,...,4wd,pickup,white,https://images.craigslist.org/00G0G_6HlKuAtlks...,Major Mrs simple. Impact hit model stop profes...,mo,36.687371,-93.380217,2024-05-28 02:26:29,72080
4,7316691873,https://minneapolis.craigslist.org/dak/ctd/d/l...,minneapolis / st paul,https://minneapolis.craigslist.org,73.374658,2020.0,volkswagen,golf gti s hatchback,good,4,...,fwd,sedan,black,https://images.craigslist.org/00J0J_7yElBTAW8Q...,Draw system process.\nPolice step air film rep...,mn,43.820000,-91.230000,2024-01-29 02:41:34,185474
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,7311930596,https://omaha.craigslist.org/ctd/d/gretna-2013...,omaha / council bluffs,https://omaha.craigslist.org,69.114194,2013.0,jaguar,xj,excellent,4,...,4wd,convertible,blue,https://images.craigslist.org/01212_cXQxebG2hk...,Oil science parent product avoid eight likely ...,ia,41.134500,-96.245800,2023-09-06 20:23:21,156921
39996,7316527910,https://yubasutter.craigslist.org/ctd/d/sacram...,yuba-sutter,https://yubasutter.craigslist.org,37.793667,2009.0,toyota,venza 5-door v6 sedan,good,6,...,fwd,sedan,black,https://images.craigslist.org/00h0h_eukAEjGw6L...,Group see necessary open task remember treat. ...,ca,38.610767,-121.422557,2024-06-06 16:32:27,109559
39997,7314611296,https://redding.craigslist.org/ctd/d/redding-2...,redding,https://redding.craigslist.org,57.441799,2015.0,chevrolet,camaro lt w/ manual 6-spd,excellent,6,...,rwd,coupe,grey,https://images.craigslist.org/00L0L_4emI9gcwfr...,Power look during return wait require daughter...,ca,40.571090,-122.360944,2024-02-25 08:45:29,27933
39998,7301926014,https://eastoregon.craigslist.org/ctd/d/lynnwo...,east oregon,https://eastoregon.craigslist.org,138.289556,2016.0,ford,super duty f-350 srw,good,8,...,4wd,truck,red,https://images.craigslist.org/00R0R_k6eFEhwhl0...,Economy continue blood generation. Us make pre...,or,47.812470,-122.321640,2024-06-04 21:35:09,184166
39999,7310084532,https://nashville.craigslist.org/ctd/d/nashvil...,nashville,https://nashville.craigslist.org,15.690848,2015.0,hyundai,accent,excellent,8,...,fwd,truck,blue,https://images.craigslist.org/00s0s_bzAx1rEkc9...,Power face head watch health necessary each mi...,tn,36.118792,-86.748858,2023-10-03 06:02:26,91297

In [9]:
unique_cars = production_df[['manufacturer', 'model']].drop_duplicates().reset_index(drop=True)

prod_cars_table = production_df[["manufacturer", "model", "drive", "cylinders", "transmission", "fuel"]]
prod_cars_table['drive'] = prod_cars_table['drive'].replace('other', 'gas')
prod_cars_table = prod_cars_table.drop_duplicates(subset=['manufacturer', 'model']).reset_index(drop=True)

prod_cars_table

C:\Users\siddh\AppData\Local\Temp\ipykernel_19824\4286326208.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prod_cars_table['drive'] = prod_cars_table['drive'].replace('other', 'gas')

,manufacturer,model,drive,cylinders,transmission,fuel
0,chevrolet,equinox ltz,fwd,8,automatic,other
1,chevrolet,corvette,rwd,8,automatic,gas
2,ford,mustang,fwd,6,automatic,gas
3,toyota,tacoma double cab sr5,4wd,6,automatic,other
4,volkswagen,golf gti s hatchback,fwd,4,automatic,other
...,...,...,...,...,...,...
9188,gmc,sierra 1500 truck,fwd,8,automatic,gas
9189,toyota,corolla s plus sedan 4d,fwd,8,automatic,other
9190,dodge,stratus sxt,fwd,6,automatic,gas
9191,toyota,venza 5-door v6 sedan,fwd,6,automatic,gas
9192,chevrolet,camaro lt w/ manual 6-spd,rwd,6,manual,gas

In [10]:
num_owners = 3000

owner_data = {
    'user_id': [str(uuid.uuid4())[:8] for _ in range(num_owners)],
    'first_name': [fake.first_name() for _ in range(num_owners)],
    'last_name': [fake.last_name() for _ in range(num_owners)],
    'email': [fake.email() for _ in range(num_owners)],
    'date_of_birth': [fake.date_of_birth(minimum_age=18, maximum_age=60) for _ in range(num_owners)],
    'password': [fake.password(length=10, special_chars=True, digits=True, upper_case=True, lower_case=True) for _ in range(num_owners)],
    'status': [random.choice(['active', 'inactive', 'banned']) for _ in range(num_owners)],
    'dealer_rating': [random.randint(1, 5) for _ in range(num_owners)],
    'dealer_num_ratings': [random.randint(1, 1000) for _ in range(num_owners)]
}

prod_owners_table = pd.DataFrame(owner_data)
prod_owners_table

,user_id,first_name,last_name,email,date_of_birth,password,status,dealer_rating,dealer_num_ratings
0,eb640e90,James,Martinez,kimpamela@example.com,1999-08-23,681HTJPk_0,inactive,3,357
1,d562b9b9,Danielle,Adams,hayleycross@example.org,1999-06-29,PE$9HmzVeW,active,4,792
2,516803df,Caitlin,Thomas,dhawkins@example.com,1988-06-04,)s08uOEk(n,banned,5,153
3,ebf03018,Steven,Guerrero,charles43@example.com,2004-11-01,3)lU5t3i4G,inactive,1,879
4,9111a722,Hayley,Martinez,williamsnicholas@example.net,1969-06-23,kS6FE3o(p^,banned,3,476
...,...,...,...,...,...,...,...,...,...
2995,80dd4673,Jasmine,French,melissa80@example.net,1988-03-03,61PL99Ad*N,inactive,5,97
2996,0137cbde,James,Andrade,kyle52@example.org,1986-09-01,%lcKAKXf+7,inactive,1,900
2997,6846f35f,Melissa,Whitney,matamonica@example.net,1997-02-05,_Xh7gA8np&,active,5,231
2998,aefdb03c,Angela,Santos,samanthabryant@example.com,1999-03-19,R)D1WHQb9L,inactive,5,689
2999,33cd89e9,Philip,Padilla,gregoryroberts@example.com,2001-08-16,0NoNOawv(d,banned,4,843

In [11]:
num_users = 7000

user_data = {
    'user_id': [str(uuid.uuid4())[:8] for _ in range(num_users)],
    'first_name': [fake.first_name() for _ in range(num_users)],
    'last_name': [fake.last_name() for _ in range(num_users)],
    'email': [fake.email() for _ in range(num_users)],
    'date_of_birth': [fake.date_of_birth(minimum_age=18, maximum_age=60) for _ in range(num_users)],
    'password': [fake.password(length=10, special_chars=True, digits=True, upper_case=True, lower_case=True) for _ in range(num_users)]
}


prod_users_table = pd.DataFrame(user_data)

combined_df = pd.concat([prod_users_table, prod_owners_table], ignore_index=True)
prod_users_table = combined_df.reset_index().drop(["status", "dealer_rating", "dealer_num_ratings", "index"], axis=1)

prod_users_table

,user_id,first_name,last_name,email,date_of_birth,password
0,d475331a,Kristen,Lyons,tzimmerman@example.com,1978-01-12,bXQ2cFs$!+
1,843b4fb6,Tracy,Le,john82@example.org,1992-03-10,C5EfOs_4#0
2,c7bba4aa,Scott,Chang,yallen@example.com,1995-04-11,&HBKGuT9K0
3,7e2432ca,Taylor,Garcia,bwalker@example.org,2002-11-20,5G^2nTj!D(
4,abb52fdd,Kevin,Mcclure,michael77@example.org,2002-10-20,@u&iJAiTE7
...,...,...,...,...,...,...
9995,80dd4673,Jasmine,French,melissa80@example.net,1988-03-03,61PL99Ad*N
9996,0137cbde,James,Andrade,kyle52@example.org,1986-09-01,%lcKAKXf+7
9997,6846f35f,Melissa,Whitney,matamonica@example.net,1997-02-05,_Xh7gA8np&
9998,aefdb03c,Angela,Santos,samanthabryant@example.com,1999-03-19,R)D1WHQb9L
9999,33cd89e9,Philip,Padilla,gregoryroberts@example.com,2001-08-16,0NoNOawv(d

In [12]:
prod_listings_table = production_df[["id", "manufacturer", "model", "region", "image_url", "description", "condition", "state", "posting_date", "mileage"]]
prod_listings_table = prod_listings_table.rename(columns={
    "id": "listing_id",
    "state": "state_id"
})


prod_listings_table['status'] = [random.choice(['active', 'inactive']) for _ in range(len(prod_listings_table))]
prod_listings_table['price'] = [random.uniform(1, 60) for _ in range(len(prod_listings_table))]
prod_listings_table['posting_date'] = pd.to_datetime(prod_listings_table['posting_date'], errors='coerce')
prod_listings_table['posting_date'] = prod_listings_table['posting_date'].apply(lambda x: x if x.year > 1900 else datetime.now())
prod_listings_table['owner_id'] = np.random.choice(prod_owners_table['user_id'], size=len(prod_listings_table))
prod_listings_table['rent_time'] = [random.randint(5, 30) for _ in range(len(prod_listings_table))]

prod_listings_table

,listing_id,manufacturer,model,region,image_url,description,condition,state_id,posting_date,mileage,status,price,owner_id,rent_time
0,7309497332,chevrolet,equinox ltz,wausau,https://images.craigslist.org/01212_eAfFtMAo2F...,Reflect past year former treat single fire. Ma...,good,wi,2023-08-15 09:14:57,45662,inactive,40.894856,e8085181,19
1,7310634470,chevrolet,corvette,madison,https://images.craigslist.org/00W0W_aCJrKRpyOJ...,Senior series gas pattern name area. Shoulder ...,excellent,wi,2023-08-22 05:57:13,172592,inactive,56.977890,ff4aab0f,11
2,7311961848,ford,mustang,chico,https://images.craigslist.org/01010_bEZXOWno6n...,Top piece investment parent relate decision th...,good,ca,2023-10-03 01:39:27,189984,inactive,54.067503,824a173a,18
3,7316631640,toyota,tacoma double cab sr5,springfield,https://images.craigslist.org/00G0G_6HlKuAtlks...,Major Mrs simple. Impact hit model stop profes...,good,mo,2024-05-28 02:26:29,72080,active,59.121853,bb87898f,20
4,7316691873,volkswagen,golf gti s hatchback,minneapolis / st paul,https://images.craigslist.org/00J0J_7yElBTAW8Q...,Draw system process.\nPolice step air film rep...,good,mn,2024-01-29 02:41:34,185474,active,25.024516,f1638a80,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,7311930596,jaguar,xj,omaha / council bluffs,https://images.craigslist.org/01212_cXQxebG2hk...,Oil science parent product avoid eight likely ...,excellent,ia,2023-09-06 20:23:21,156921,active,47.969837,3ded9ef0,23
39996,7316527910,toyota,venza 5-door v6 sedan,yuba-sutter,https://images.craigslist.org/00h0h_eukAEjGw6L...,Group see necessary open task remember treat. ...,good,ca,2024-06-06 16:32:27,109559,inactive,7.162143,f8397dd6,28
39997,7314611296,chevrolet,camaro lt w/ manual 6-spd,redding,https://images.craigslist.org/00L0L_4emI9gcwfr...,Power look during return wait require daughter...,excellent,ca,2024-02-25 08:45:29,27933,active,24.366644,ebddfa4c,16
39998,7301926014,ford,super duty f-350 srw,east oregon,https://images.craigslist.org/00R0R_k6eFEhwhl0...,Economy continue blood generation. Us make pre...,good,or,2024-06-04 21:35:09,184166,active,56.268096,10db5e2b,6
39999,7310084532,hyundai,accent,nashville,https://images.craigslist.org/00s0s_bzAx1rEkc9...,Power face head watch health necessary each mi...,excellent,tn,2023-10-03 06:02:26,91297,active,21.793291,87057ebc,25

In [14]:
num_reviews = 2000

car_review_phrases = [
    "The car runs smoothly and has great mileage.",
    "I love the interior design and the comfort it offers.",
    "The engine performance is exceptional!",
    "Very reliable and fuel-efficient.",
    "The car looks stylish and is very easy to handle.",
    "I've had some issues with the transmission.",
    "The car is a bit overpriced for what it offers.",
    "Excellent customer service from the dealer.",
    "I had a great buying experience and the car is fantastic.",
    "The sound system in the car is top-notch.",
    "It's a decent car but lacks advanced features.",
    "Very spacious and comfortable for long drives.",
    "The air conditioning system works perfectly.",
    "I had to take it for repairs sooner than expected.",
    "The car offers a smooth and quiet ride.",
    "The handling is responsive and precise.",
    "The fuel economy could be better.",
    "Comfortable seating for long trips.",
    "The car's safety features are impressive.",
    "Great value for money.",
    "The exterior design is eye-catching.",
    "The dashboard layout is intuitive and user-friendly.",
    "Acceleration is swift and powerful.",
    "The car is perfect for city driving.",
    "The brakes are sensitive and reliable.",
    "The headlights provide excellent visibility.",
    "The suspension absorbs bumps well.",
    "The seats are supportive and adjustable.",
    "Road noise is minimal.",
    "The car's reliability rating is high.",
    "Cargo space is ample for groceries and luggage.",
    "The steering wheel feels comfortable in hand.",
    "The infotainment system is easy to use.",
    "The car handles well in all weather conditions.",
    "The paint quality is durable and glossy.",
    "The mileage per gallon is impressive.",
    "Maintenance costs are reasonable.",
    "The seats are heated and ventilated.",
    "The navigation system is accurate and responsive.",
    "The car has good resale value.",
    "I feel safe driving this car.",
    "The climate control system is effective.",
    "The rearview camera provides a clear view.",
    "The car accelerates smoothly from a stop.",
    "The gearbox shifts gears seamlessly.",
    "The suspension offers a comfortable ride.",
    "The cabin is quiet at highway speeds.",
    "The car's warranty coverage is comprehensive.",
    "The touchscreen interface is intuitive.",
    "The car handles curves with confidence.",
    "The interior materials are high-quality.",
    "The car's technology features are impressive.",
    "The seats have plenty of legroom.",
    "The steering is precise and responsive.",
    "The car's braking system is reliable.",
    "The adaptive cruise control works well.",
    "The car's design is timeless.",
    "The engine is powerful yet fuel-efficient.",
    "The car's Bluetooth connectivity is seamless.",
    "The dashboard displays essential information clearly.",
    "The sound quality of the audio system is excellent.",
    "The car has good visibility all around.",
    "The car's headlights illuminate the road well.",
    "The seats are easy to adjust for comfort.",
    "The car feels stable at high speeds.",
    "The steering is light and easy to maneuver.",
    "The car has plenty of storage compartments.",
    "The car's handling is agile and responsive.",
    "The seats provide excellent lumbar support.",
    "The car's resale value holds up well.",
    "The interior is spacious and well-designed.",
    "The car accelerates quickly when needed.",
    "The car's fuel tank is large for long trips.",
    "The car's exterior color is vibrant.",
    "The car's dashboard is well-organized.",
    "The car's entertainment system keeps passengers entertained.",
    "The car's suspension absorbs bumps smoothly.",
    "The car's cabin is insulated from road noise.",
    "The car's climate control keeps the cabin comfortable.",
    "The car's seats are plush and comfortable.",
    "The car's engine is quiet at idle.",
    "The car's transmission shifts gears seamlessly.",
    "The car's steering is precise and responsive.",
    "The car's brakes are strong and reliable.",
    "The car's fuel efficiency is impressive for its size.",
    "The car's safety features provide peace of mind.",
    "The car's infotainment system is intuitive to use.",
    "The car's interior design is modern and attractive.",
    "The car's exterior design is sporty and eye-catching.",
    "The car's ride quality is smooth and comfortable.",
    "The car's acceleration is brisk and powerful.",
    "The car's handling is nimble and agile.",
    "The car's suspension offers a balanced ride.",
    "The car's seats are supportive and ergonomic.",
    "The car's cabin is spacious and airy.",
    "The car's visibility is excellent from all angles.",
    "The car's technology features are cutting-edge.",
    "The car's fuel economy is efficient.",
    "The car's steering wheel feels solid and well-designed.",
    "The car's dashboard layout is logical and user-friendly.",
    "The car's rear seats are comfortable for passengers.",
    "The car's trunk space is generous for luggage.",
    "The car's exterior styling is elegant and refined.",
    "The car's interior materials are high-grade and durable.",
    "The car's ride is smooth and composed.",
    "The car's acceleration is strong and responsive.",
    "The car's handling is agile and precise.",
    "The car's brakes are powerful and reliable.",
    "The car's fuel efficiency is excellent.",
    "The car's safety features are advanced and effective.",
    "The car's infotainment system is intuitive and feature-rich.",
    "The car's interior design is stylish and modern.",
    "The car's exterior design is sleek and aerodynamic.",
    "The car's suspension absorbs bumps with ease.",
    "The car's seats are comfortable for long drives.",
    "The car's steering is light and responsive.",
    "The car's cabin is quiet at highway speeds.",
    "The car's visibility is clear and unobstructed.",
    "The car's technology enhances the driving experience.",
    "The car's climate control system is efficient and effective.",
    "The car's seats provide ample support and comfort.",
    "The car's audio system delivers crisp and clear sound.",
    "The car's interior is well-insulated from outside noise.",
    "The car's transmission shifts smoothly between gears.",
    "The car's exterior color is vibrant and attractive.",
    "The car's headlights provide excellent illumination.",
    "The car's touchscreen interface is user-friendly.",
    "The car's navigation system is accurate and reliable.",
    "The car's cargo space is ample for groceries and luggage.",
    "The car's steering response is precise and predictable.",
    "The car's suspension offers a smooth and controlled ride.",
    "The car's seats are plush and supportive.",
    "The car's cabin layout is practical and ergonomic.",
    "The car's exterior lines are sleek and modern.",
    "The car's engine delivers strong performance.",
    "The car's fuel economy is impressive for its class.",
    "The car's safety ratings are top-notch.",
    "The car's technology suite is comprehensive and intuitive.",
    "The car's interior materials are luxurious and refined.",
    "The car's exterior design is bold and distinctive.",
    "The car's ride quality is smooth and comfortable.",
    "The car's acceleration is brisk and exhilarating.",
    "The car's handling is precise and agile.",
    "The car's braking system is responsive and reliable.",
    "The car's fuel efficiency is excellent for its size.",
    "The car's safety features provide peace of mind.",
    "The car's infotainment system is easy to use.",
    "The car's interior design is elegant and sophisticated.",
    "The car's exterior styling is dynamic and attractive.",
    "The car's suspension absorbs bumps well.",
    "The car's cabin is spacious and comfortable.",
    "The car's steering is light and responsive.",
    "The car's visibility is excellent from all angles.",
    "The car's technology features are user-friendly.",
    "The car's fuel economy is efficient.",
    "The car's steering wheel feels comfortable in hand.",
    "The car's dashboard layout is intuitive and clear.",
    "The car's rear seats offer ample legroom.",
    "The car's trunk provides generous cargo space.",
    "The car's exterior finish is durable and glossy.",
    "The car's ride is smooth and composed.",
    "The car's acceleration is brisk and powerful.",
    "The car's handling is precise and nimble.",
    "The car's brakes are strong and responsive.",
    "The car's fuel efficiency is impressive for its class.",
    "The car's safety features are advanced and effective.",
    "The car's infotainment system is intuitive and responsive.",
    "The car's interior design is modern and attractive.",
    "The car's exterior design is sporty and eye-catching.",
    "The car's suspension provides a comfortable ride.",
    "The car's seats are supportive and comfortable.",
    "The car's cabin is spacious and well-appointed.",
    "The car's visibility is excellent from the driver's seat.",
    "The car's technology features enhance convenience and safety.",
    "The car's climate control system maintains a comfortable cabin temperature.",
    "The car's seats are ergonomically designed for long trips.",
    "The car's audio system delivers immersive sound quality.",
    "The car's interior is insulated from external noise.",
    "The car's transmission shifts seamlessly through gears.",
    "The car's exterior color is vibrant and eye-catching.",
    "The car's headlights illuminate the road ahead effectively.",
    "The car's touchscreen interface is intuitive to navigate."
]

def generate_car_review():
    phrase = random.choice(car_review_phrases)
    additional_comment = fake.sentence()
    return f"{phrase} {additional_comment}"

review_data = {
    'review_id': [str(uuid.uuid4())[:8] for _ in range(num_reviews)],
    'author': [random.choice(prod_users_table['user_id']) for _ in range(num_reviews)],  # FK to users table
    'listing_id': [random.choice(prod_listings_table['listing_id']) for _ in range(num_reviews)],  # FK to listings table
    'rating': [random.randint(1, 5) for _ in range(num_reviews)],
    'comments': [generate_car_review() for _ in range(num_reviews)]
}

prod_reviews_table = pd.DataFrame(review_data)
prod_reviews_table

,review_id,author,listing_id,rating,comments
0,c0758085,22ec57d7,7315748427,5,The car accelerates quickly when needed. Price...
1,4beed44b,d52c2948,7305595056,2,The car's exterior design is sleek and aerodyn...
2,cde91ae2,3aa5a5ea,7305644982,2,The exterior design is eye-catching. Also upon...
3,52e92880,43fd2f1d,7307333937,3,The car's seats are comfortable for long drive...
4,59276a27,8a7400d7,7316471475,5,The car has good resale value. Everything with...
...,...,...,...,...,...
1995,150d4d61,030a3653,7303544492,3,The car's exterior styling is dynamic and attr...
1996,f981b456,aa85a35f,7316392670,1,The car's safety features are advanced and eff...
1997,d4a46e31,2a3efafc,7308044911,4,The car is a bit overpriced for what it offers...
1998,772b6fcc,90a3375f,7309309768,5,The car accelerates quickly when needed. Image...
1999,f67da3ea,a8643108,7309942179,4,The car's headlights illuminate the road well....

In [15]:
num_rentals = 5000

rental_data = {
    'rental_id': [str(uuid.uuid4())[:8] for _ in range(num_rentals)],
    'listing_id': np.random.choice(prod_listings_table['listing_id'], size=num_rentals),
    'user_id': np.random.choice(prod_users_table['user_id'], size=num_rentals),
    'rent_date': [datetime.now() - timedelta(days=random.randint(1, 365)) for _ in range(num_rentals)],
    'return_date': [None] * num_rentals,
    'status': ['renting'] * num_rentals
}

for i in range(num_rentals):
    rent_date = rental_data['rent_date'][i]
    return_date = rent_date + timedelta(days=random.randint(1, 50))

    if return_date <= datetime.now():
        rental_data['return_date'][i] = return_date.strftime('%Y-%m-%d %H:%M')
        rental_data['status'][i] = 'returned'
    else:
        rental_data['return_date'][i] = None

prod_rentals_table = pd.DataFrame(rental_data)

prod_rentals_table['rent_date'] = prod_rentals_table['rent_date'].apply(lambda x: x.strftime('%Y-%m-%d %H:%M'))
prod_rentals_table

,rental_id,listing_id,user_id,rent_date,return_date,status
0,249756c3,7310979662,2ebe1673,2024-03-16 21:57,2024-05-01 21:57,returned
1,64300776,7315956331,5a3c44b4,2023-08-29 21:57,2023-09-17 21:57,returned
2,6ee2d5c7,7306572323,7ca1cbdf,2023-12-22 21:57,2023-12-29 21:57,returned
3,02e40720,7316749073,d4ee95f1,2024-03-17 21:57,2024-05-06 21:57,returned
4,55acffd2,7306578853,c59e0a16,2024-06-28 21:57,None,renting
...,...,...,...,...,...,...
4995,a74a8127,7311350573,cf443523,2024-02-11 21:57,2024-02-13 21:57,returned
4996,2026b1db,7310107822,685b86d1,2023-09-20 21:57,2023-10-31 21:57,returned
4997,ac1ec394,7309216411,3dd9997c,2024-05-04 21:57,2024-06-06 21:57,returned
4998,8f5a6be2,7315385308,ccffdb4f,2023-08-11 21:57,2023-09-13 21:57,returned
4999,cafc0c99,7316828740,759d0d10,2023-09-23 21:57,2023-09-25 21:57,returned

In [19]:
state_data = {
    'state_id': ['al', 'ak', 'az', 'ar', 'ca', 'co', 'ct', 'dc', 'de', 'fl', 'ga',
                   'hi', 'id', 'il', 'in', 'ia', 'ks', 'ky', 'la', 'me', 'md', 'ma',
                   'mi', 'mn', 'ms', 'mo', 'mt', 'nc', 'ne', 'nv', 'nj', 'nm', 'ny',
                   'nh', 'nd', 'oh', 'ok', 'or', 'pa', 'ri', 'sc', 'sd', 'tn', 'tx',
                   'ut', 'vt', 'va', 'wa', 'wv', 'wi', 'wy'],
    'state_name': ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'District of Columbia', 
                   'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 
                   'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 
                   'Montana', 'North Carolina', 'Nebraska', 'Nevada', 'New Jersey', 'New Mexico', 'New York', 'New Hampshire', 
                   'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 
                   'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
    'time_zone': ['Central', 'Alaska', 'Mountain', 'Central', 'Pacific', 'Mountain', 'Eastern', 'Eastern', 'Eastern', 'Eastern', 
                  'Eastern', 'Hawaii-Aleutian', 'Mountain', 'Central', 'Eastern', 'Central', 'Central', 'Eastern', 'Central', 
                  'Eastern', 'Eastern', 'Eastern', 'Eastern', 'Central', 'Central', 'Central', 'Mountain', 'Eastern', 'Central', 
                  'Pacific', 'Eastern', 'Mountain', 'Eastern', 'Eastern', 'Central', 'Eastern', 'Central', 'Pacific', 'Eastern', 
                  'Eastern', 'Eastern', 'Central', 'Central', 'Central', 'Mountain', 'Eastern', 'Eastern', 'Pacific', 'Eastern', 
                  'Central', 'Mountain']
}

prod_states_table = pd.DataFrame(state_data)
prod_states_table

   state_id            state_name        time_zone
0        al               Alabama          Central
1        ak                Alaska           Alaska
2        az               Arizona         Mountain
3        ar              Arkansas          Central
4        ca            California          Pacific
5        co              Colorado         Mountain
6        ct           Connecticut          Eastern
7        dc  District of Columbia          Eastern
8        de              Delaware          Eastern
9        fl               Florida          Eastern
10       ga               Georgia          Eastern
11       hi                Hawaii  Hawaii-Aleutian
12       id                 Idaho         Mountain
13       il              Illinois          Central
14       in               Indiana          Eastern
15       ia                  Iowa          Central
16       ks                Kansas          Central
17       ky              Kentucky          Eastern
18       la             Louisiana          Central
19       me                 Maine          Eastern
20       md              Maryland          Eastern
21       ma         Massachusetts          Eastern
22       mi              Michigan          Eastern
23       mn             Minnesota          Central
24       ms           Mississippi          Central
25       mo              Missouri          Central
26       mt               Montana         Mountain
27       nc        North Carolina          Eastern
28       ne              Nebraska          Central
29       nv                Nevada          Pacific
30       nj            New Jersey          Eastern
31       nm            New Mexico         Mountain
32       ny              New York          Eastern
33       nh         New Hampshire          Eastern
34       nd          North Dakota          Central
35       oh                  Ohio          Eastern
36       ok              Oklahoma          Central
37       or                Oregon          Pacific
38       pa          Pennsylvania          Eastern
39       ri          Rhode Island          Eastern
40       sc        South Carolina          Eastern
41       sd          South Dakota          Central
42       tn             Tennessee          Central
43       tx                 Texas          Central
44       ut                  Utah         Mountain
45       vt               Vermont          Eastern
46       va              Virginia          Eastern
47       wa            Washington          Pacific
48       wv         West Virginia          Eastern
49       wi             Wisconsin          Central
50       wy               Wyoming         Mountain

In [17]:
num_favorites = 5000
favorite_data = {
    'id': [random.choice(prod_listings_table['listing_id']) for _ in range(num_favorites)],
    'user_id': [random.choice(prod_users_table['user_id']) for _ in range(num_favorites)]
}

prod_favorites_table = pd.DataFrame(favorite_data)

prod_favorites_table

              id   user_id
0     7313034367  1b99613c
1     7314440130  281c9408
2     7313306215  d717e963
3     7304836121  010ac296
4     7314113980  4f044581
...          ...       ...
4995  7306687032  61dad80e
4996  7304672070  8daf72c4
4997  7310592804  09525e01
4998  7316669459  2ca5a4b4
4999  7313599354  abbcd7d8

[5000 rows x 2 columns]

In [20]:
# save files
prod_cars_table.to_csv('prod_cars_table.csv', index=False)
prod_users_table.to_csv('prod_users_table.csv', index=False)
prod_owners_table.to_csv('prod_owners_table.csv', index=False)
prod_rentals_table.to_csv('prod_rentals_table.csv', index=False)
prod_listings_table.to_csv('prod_listings_table.csv', index=False)
prod_favorites_table.to_csv('prod_favorites_table.csv', index=False)
prod_states_table.to_csv('prod_states_table.csv', index=False)
prod_reviews_table.to_csv('prod_reviews_table.csv', index=False)

# Single Python Script